<div class="modal fade" id="modalMessageNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content new-message-modal">
      <div class="modal-header new-message-modal__header">
        <h5 class="modal-title" id="exampleModalLabel">Message <%= @user.username %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [ @message ], html: { class: "new-message-modal__body"}, remote: true do |f| %>
          <%= hidden_field_tag 'receiver_id', @user.id %>
          <%= f.input :content, as: :text, error: 'Please type a message', input_html: { class: "new-message-modal__text_area" } %>
          <div class="text-danger error-new-message-js"></div>
          <%= f.button :submit, "Send", class: 'new-message-modal__submit-btn btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
