<div id="search-results" class="search-results-js">
  <% if query.blank? %>
    <h4 class="placeholder-numbers-results"></h4>
  <% else %>
    <h4 class="numbers-results"><%= jobs.count %> <%= "jobs".pluralize(jobs.count) %> matched your search for "<%= query %>"</h4>
  <% end %>
  <div class="jobs mt-5">
    <% jobs.each do |job| %>
      <div class="mt-5 mb-2 mx-auto g-col-4 job-card highlight-js">
        <div class="job-card-title">
          <h2 class="highlight-query-js"><%= job.title.upcase %></h2><br>
        </div>
        <div class="d-flex justify-content-between">
          <div>
          <% if job.hourly_rate? %>
            <h5><%= job.money %>€/hour</h5>
          <% else %>
            <h5><%= job.money %>€ total</h5>
          <% end %>
          </div>
          <div>
            <h5>posted <%= time_ago_in_words(job.created_at) %> ago</h5>
          </div>
        </div>
        <p class="job-card-description highlight-query-js"><%= job.description %></p>
        <ul class="skills-list ps-0">
          <% job.display_skills.each do |skill| %>
            <li><h5 class="skill-box highlight-query-js"><%= skill.downcase %></h5></li>
          <% end %>
        </ul>
        <%= link_to "See more", job_path(job), class: "more-btn jobs-more-btn" %>
      </div>
    <% end %>
  </div>
</div>
