<div class="search-results-js">
  <% if query.blank? %>
    <h4 class="placeholder-numbers-results"></h4>
  <% else %>
    <h4 class="numbers-results"><%= jobs.count %> <%= "jobs".pluralize(jobs.count) %> matched your search for "<%= query %>"</h4>
  <% end %>
  <div class="job-results-grid">
    <% jobs.each do |job| %>
      <div class="job-card__wrapper highlight-js">
        <div class="job-card__title">
          <h2 class="job-card__title-text highlight-query-js"><%= job.title.upcase %></h2><br>
        </div>
        <div class="job-card__money-and-updated-date-section">
          <div>
          <% if job.hourly_rate? %>
            <h5><%= job.money %>€/hour</h5>
          <% else %>
            <h5><%= job.money %>€ total</h5>
          <% end %>
          </div>
          <div>
            <h5>posted <%= time_ago_in_words(job.created_at) %> ago</h5>
          </div>
        </div>
        <p class="job-card__description highlight-query-js"><%= job.description %></p>
        <ul class="job-card__skills">
          <% job.display_skills.each do |skill| %>
            <li class="job-card__skill"><h5 class="job-card__skill-box highlight-query-js"><%= skill.downcase %></h5></li>
          <% end %>
        </ul>
        <%= link_to "See more", job_path(job), class: "job-card__submit-btn" %>
      </div>
    <% end %>
  </div>
</div>
