<%= render 'shared/hamburger' %>
<div class="background-search">
  <div class="inquiry-big-card">
    <div class="back-dash-link">
      <div class="back-dash-link-arrow">&#10132;</div>
      <%= link_to :back, class: "link" do %>
        <h5>Return</h5>
      <% end %>
    </div>
    <div class="job-show">
      <h1 class="job-show-title"><%= @job.title.upcase %></h1>
      <h4 class="job-show-description"><%= @job.description %></h4>
      <div class="job-show-details">
        <div class="job-show-details-payment">
          <% if @job.payment == "fixed_rate" %>
            <i class="fas fa-money-bill-wave-alt me-1"></i><h5><%= @job.money %>€</h5>
          <% else %>
            <i class="fas fa-money-bill-wave-alt me-1"></i><h5><%= @job.money %>€/hour</h5>
          <% end %>
        </div>
        <div class="job-show-details-location">
          <i class="fas fa-map-marker-alt me-1"></i> <h5><%= @job.location %></h5>
        </div>
        <div class="job-show-details-date">
          <i class="fas fa-clock me-1"></i><h5><%= @job.created_at.strftime("uploaded on %d/%m/%Y") %></h5>
        </div>
      </div>
      <ul class="skills-list job-show-skills align-items-center">
        <h4 class="me-5"><%= "Skill".pluralize(@job.display_skills_needed.count) %> needed:</h4>
        <% @job.display_skills_needed.each do |skill| %>
          <li><h4 class="skill-box"><%= skill.downcase %></h4></li>
        <% end %>
      </ul>
      <% if @job.project.user != current_user %>
        <%= link_to "Apply!", new_job_inquiry_path(@job), class: "btn btn-apply bck-btn-reload-js" %>
      <% else %>
        <%= link_to "Edit your job", edit_job_path(@job), class: "btn btn-edit" %>
      <% end %>
      <div class="job-show-footer mt-5">
        <h5 class="text-center mb-5">
          part of the project <span><%= link_to @job.project.title, project_path(@job.project) %></span>
          from <span><%= link_to @job.project.user.username, user_path(@job.project.user) %></span>
        </h5>
      </div>
    </div>
  </div>
</div>
