<%= simple_form_for @user, remote: true, html: { class: "new-project-form-js", autocomplete: "off"} do |f| %>
  <div class="update-profile-form-top">
    <%= f.input :username, label: 'Username:' %>
    <%= f.input :email, label: 'Email address:' %>
  </div>
  <%= f.input :title, label: 'Title:', placeholder: "tell the world what you do..." %>
  <div class="update-profile-form-bio">
    <%= f.input :bio, label: 'Bio:', placeholder: "tell the world about yourself..." %>
    <% if current_user.bio.blank? %>
      <p class="update-profile-form-bio-uncomplete">****</p>
    <% end %>
  </div>
  <%= f.input :skills, wrapper_html: { class: "skills-hidden-field" }, input_html: { class: "attributes_hidden_field_js" } %>
  <div class="new-skill-custom">
    <div class="new-skill-input-block">
      <label for="fname" class="new-skill-label">New skill:</label>
      <div class="d-flex">
        <input type="text" id="fname" class="attribute-value-js input-add-skill"></input>
        <div class="btn-add-attribute-js btn-add-skill">Add</div>
      </div>
    </div>
    <div>
      <label>Skills list:</label>
      <ol class="attributes-list-js list-skills">
      </ol>
    </div>
  </div>
  <div class="update-profile-form-social-media">
    <%= f.input :website, label: 'Website:', placeholder: "your-website.com" %>
    <%= f.input :instagram, label: 'Instagram:', placeholder: "instagram.com/your-instagram-account" %>
    <%= f.input :twitter, label: 'Twitter:', placeholder: "twitter.com/your-twitter-account" %>
    <%= f.input :soundcloud, label: 'Soundcloud:', placeholder: "soundcloud.com/your-soundcloud-account" %>
    <%= f.input :youtube, label: 'YouTube:', placeholder: "youtube.com/your-youtube-account" %>
    <%= f.input :mixcloud, label: 'Mixcloud:', placeholder: "mixcloud.com/your-mixcloud-account" %>
    <%= f.input :facebook, label: 'Facebook:', placeholder: "facebook.com/your-facebook-account" %>
    <%= f.input :linkedin, label: 'Linkedin:', placeholder: "linkedin.com/in/your-linkedin-account" %>
  </div>
  <div class="upload-picture-form" id="picture-anchor">
    <div class="upload-picture-left">
      <%= f.input :photo, label: 'Update your profile picture:', as: :file, wrapper_html: { class: "user-avatar-upload-btn-js" }, :input_html => { accept: ".png, .jpg, .jpeg" } %>
    </div>
    <div class="upload-picture-right">
      <div class="diamond-wrapper-js diamond-wrapper-form diamond-wrapper-form-hidden">
        <div class="diamond-frame-form">
          <img class="placeholder-preview-js">
        </div>
      </div>
    </div>
  </div>
  <%= f.submit "Update!", id: "btn-form-submit", class: "form-btn-js" %>
  <button class="more-btn jobs-more-btn btn-hidden form-btn-js" type="button" disabled>
    <span class="spinner-border spinner-border" role="status" aria-hidden="true"></span>
    Loading...
  </button>
<% end %>
