<%= simple_form_for @user, remote: true, html: { class: "form-js", autocomplete: "off"} do |f| %>
  <div class="form-page__username-and-email">
    <%= f.input :username, label: 'Username:', wrapper_html: { class: "form-page__username" }, label_html: { class: 'form-page__label' }, input_html: { class: 'form-page__input' } %>
    <%= f.input :email, label: 'Email address:', wrapper_html: { class: "form-page__email" }, label_html: { class: 'form-page__label' }, input_html: { class: 'form-page__input' } %>
  </div>
  <%= f.input :title, label: 'Title:', placeholder: "tell the world what you do...", wrapper_html: { class: "form-page__user-title" }, label_html: { class: 'form-page__label' }, input_html: { class: 'form-page__input' } %>
  <div class="form-page__bio-wrapper">
    <%= f.input :bio, label: 'Bio:', placeholder: "tell the world about yourself...", wrapper_html: { class: "form-page__bio" }, label_html: { class: 'form-page__label' }, input_html: { class: 'form-page__input form-page__input--big' } %>
    <% if current_user.bio.blank? %>
      <p class="form-page__bio-uncomplete-marker">****</p>
    <% end %>
  </div>
  <%= f.input :skills, wrapper_html: { class: "form-page__skills-hidden-field" }, input_html: { class: "attributes_hidden_field_js" } %>
  <div class="form-page__skills-custom">
    <div class="form-page__add-skills">
      <label for="fname" class="form-page__add-skills-label form-page__label">New skill:</label>
      <div class="form-page__add-skills-input-and-btn">
        <input type="text" id="fname" class="form-page__add-skills-input form-page__input attribute-value-js"></input>
        <div class="form-page__add-skills-btn btn-add-attribute-js">Add</div>
      </div>
    </div>
    <div>
      <label class="form-page__skills-list-label form-page__label">Skills list:</label>
      <ol class="form-page__skills-list-items attributes-list-js"></ol>
    </div>
  </div>
  <div class="form-page__social-media">
    <%= f.input :website, label: 'Website:', placeholder: "your-website.com", wrapper_html: { class: "form-page__social-media-item" }, label_html: { class: 'form-page__label' }, input_html: { class: 'form-page__input' } %>
    <%= f.input :instagram, label: 'Instagram:', placeholder: "instagram.com/your-instagram-account", wrapper_html: { class: "form-page__social-media-item" }, label_html: { class: 'form-page__label' }, input_html: { class: 'form-page__input' } %>
    <%= f.input :twitter, label: 'Twitter:', placeholder: "twitter.com/your-twitter-account", wrapper_html: { class: "form-page__social-media-item" }, label_html: { class: 'form-page__label' }, input_html: { class: 'form-page__input' } %>
    <%= f.input :soundcloud, label: 'Soundcloud:', placeholder: "soundcloud.com/your-soundcloud-account", wrapper_html: { class: "form-page__social-media-item" }, label_html: { class: 'form-page__label' }, input_html: { class: 'form-page__input' } %>
    <%= f.input :youtube, label: 'YouTube:', placeholder: "youtube.com/your-youtube-account", wrapper_html: { class: "form-page__social-media-item" }, label_html: { class: 'form-page__label' }, input_html: { class: 'form-page__input' } %>
    <%= f.input :mixcloud, label: 'Mixcloud:', placeholder: "mixcloud.com/your-mixcloud-account", wrapper_html: { class: "form-page__social-media-item" }, label_html: { class: 'form-page__label' }, input_html: { class: 'form-page__input' } %>
    <%= f.input :facebook, label: 'Facebook:', placeholder: "facebook.com/your-facebook-account", wrapper_html: { class: "form-page__social-media-item" }, label_html: { class: 'form-page__label' }, input_html: { class: 'form-page__input' } %>
    <%= f.input :linkedin, label: 'Linkedin:', placeholder: "linkedin.com/in/your-linkedin-account", wrapper_html: { class: "form-page__social-media-item" }, label_html: { class: 'form-page__label' }, input_html: { class: 'form-page__input' } %>
  </div>
  <div class="form-page__upload-picture">
    <%= f.input :photo, label: 'Update your profile picture:', as: :file, wrapper_html: { class: "user-avatar-upload-btn-js" }, :input_html => { accept: ".png, .jpg, .jpeg", class: "user-photo-js" }, label_html: { class: 'form-page__label' } %>
    <div class="form-page__avatar-placeholder">
      <div class="form-page__avatar-wrapper form-page__avatar-hidden diamond-wrapper-js">
        <div class="form-page__avatar-frame">
          <img class="form-page__avatar-img placeholder-preview-js">
        </div>
      </div>
    </div>
  </div>
  <%= f.submit "Update!", class: "form-page__submit-btn form-btn-js" %>
  <button class="form-page__loading-btn form-page__loading-btn--hidden form-btn-js" type="button" disabled>
    <span class="spinner-border" role="status" aria-hidden="true"></span>
    Loading...
  </button>
<% end %>
