<div class="search-results-js">
  <% if query.present? %>
    <h4 class="search-results-message"><%= users.size %> <%= "user".pluralize(users.size) %> matched your search for "<%= query %>"</h4>
  <% end %>
  <ul class="user-results-list">
    <% users.each do |user| %>
      <%= link_to user_path(user), class: "user-results-list__link" do %>
        <div class="card-user highlight-js">
          <div class="card-user__top">
            <div class="avatar-user-card">
              <div class="avatar-user-card__frame--small">
                <%= cl_image_tag user.photo.key, quality: "auto:low", class: "avatar-user-card__img--small", alt: "user profile picture", transformation: [{fetch_format: "auto"}, {width: 200, crop: "fill"}] %>
              </div>
            </div>
            <div class="card-user__details">
              <div class="card-user__username-underlined">
                <div class="card-user__username highlight-query-js"><%= user.username %></div>
                <div class="card-user__underline"></div>
              </div>
              <% if user.title.present? %>
                <div class="card-user__title highlight-query-js">__ <%= user.title %></div>
              <% end %>
              <div class="card-user__skills">
                <% if user.skills.present? %>
                  <% user.skills.split.map do |skill| %>
                    <div class="card-user__skill highlight-query-js"><%= skill %></div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card-user__bottom">
            <div class="card-user__description"><span class="card-user__description-title">Bio: </span><span class="highlight-query-js"><%= user.bio %></span></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>
