<h1>render portfolio collabs</h1>

<% @member_projects.each do |project| %>
  <%= project.id %>
<% end %>

<div class="big-grid-search search-refresh-results">
  <% @member_projects.each do |project| %>
    <div class="grid-search-item card-project-search grid-search-big-item">
      <%= link_to project_path(project.slug) do  %>
        <h4 class="title-card-project-search"><%= project.title %></h4>
        <div class="img-avatar-wrapper">
          <div class="search-card-img-wrapper">
            <%= cl_image_tag project.attachments.first.key, class: "card-img" %>
          </div>
        </div>
        <div class="text-card-project-search"><%= project.description %></div>
      <% end %>
      <div class="ribbon-wrapper">
        <div class="ribbon">UPCOMING</div>
      </div>
    </div>
  <% end %>
</div>
