<%= render 'shared/hamburger' %>
<%= render 'shared/brand' %>
<div class="background-search">
  <div class="wrapper-portfolio-title">
    <h1 class="portfolio-title">
      <%= @user.username %> ongoing projects
      <div class="underlined-title"></div>
    </h1>
  </div>
  <ul class="list-inline search-tabs-underlined">
    <li><%= link_to "Owner", ongoing_own_projects_path(user: @user), class: "js-modal-tab search-tab-underlined tab-active", remote: true %></li>
    <li><%= link_to "Member", ongoing_collabs_path(user: @user), class: "ms-3 js-modal-tab search-tab-underlined", remote: true %></li>
  </ul>
  <div class="js-results mt-5 masonry-js portfolio-style-js">
    <%= render "user_ongoing_own_projects" %>
  </div>
</div>
