<%= render 'shared/hamburger' %>
<h5><%= link_to "InfamousBerlin", root_path, class: "logo" %></h5>
<div class="d-flex">
  <div class="flex-shrink-0">
    <%= cl_image_tag(@user.photo.key, transformation: [{height: 475, width: 475, radius: 60, crop: :fill, background: "#ffffff"}], class: "rotated")%>
    <h1 class="avatar-username"><%= @user.username %></h1>
  </div>
  <div class="flex-grow-1 bio-position">
    <h2><strong>Bio:</strong></h2>
    <p><%= @user.bio %></p>
  </div>
</div>
<div class="d-flex mt-5">
  <div class="flex-fill">
    <h2><strong>Skills:</strong></h2>
    <p><%= @user.skills[0] %></p>
  </div>
  <div class="flex-fill">
    <button class="btn btn-dark btn-lg btn-pill">Send a message</button><br>
    <button class="btn btn-dark btn-lg btn-pill">Portfolio</button><br>
    <button class="btn btn-dark btn-lg btn-pill">Upcoming projects</button><br>
  </div>
  <div class="flex-fill">
    <p><strong>Personal Page:</strong> <%= @user.socialmedias[0] %></p>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Facebook:</strong> <%= @user.socialmedias[0] %></p>
    <p><strong>Instagram:</strong> <%= @user.socialmedias[0] %></p>
    <p><strong>Soundcloud:</strong> <%= @user.socialmedias[0] %></p>
    <p><strong>YouTube:</strong> <%= @user.socialmedias[0] %></p>
    <p><strong>Mixcloud:</strong> <%= @user.socialmedias[0] %></p>
    <p><strong>Linkedin:</strong> <%= @user.socialmedias[0] %></p>
    <p><strong>Twitter:</strong> <%= @user.socialmedias[0] %></p>
  </div>
</div>
<br>
<br>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalMessageNew">
  Message <%= @user.username %>
</button>


<% if user_signed_in? %>
  <div id="modalMessage">
    <%= render "messages/new", chatroom: @chatroom, message: @message %>
  </div>
<% else %>
  <%= render 'shared/login_form' %>
<% end %>

