<%= render 'shared/navbar' %>
<div class="user-profile-grid">
  <div class="user-details-section user-profile-grid__details-section">
    <div class="user-details-section__username-avatar-wrapper">
      <h3 class="user-details-section__username"><%= @user.username %></h3>
      <div class="avatar-diamond--big avatar-diamond--big__frame">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, quality: "auto", alt: "user's profile picture", class: "avatar-diamond--big__img", transformation: [{fetch_format: "auto"}, {width: 700, crop: "fill"}] %>
        <% else %>
          <%= image_tag asset_path('logo.png'), class: "avatar-diamond--big__img", alt: "user's profile picture" %>
        <% end %>
      </div>
    </div>
    <h3 class="user-details-section__title"><%= @user.title %></h3>
  </div>
  <div class="user-bio-skills-section user-profile-grid__bio-skills-section">
    <div class="user-bio-section user-profile-grid__bio-section">
      <h1>Bio</h1>
      <h4><%= simple_format @user.bio %></h4>
    </div>
    <div class="user-skills-section user-profile-grid__skills-section">
      <h1>Skills</h1>
      <ul class="user-skills-section__list">
        <% @user_formatted_skills.each do |skill| %>
          <li class="user-skills-section__list-item"><h5 class="user-skills-section__skill-box"><%= skill.downcase %></h5></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="user-buttons-section user-profile-grid__buttons-section">
    <% if user_signed_in? %>
      <% if current_user == @user %>
        <%= link_to "Edit your profile", edit_user_path, class: "btn user-profile__edit-btn" %>
      <% else %>
        <button class="btn user-profile__message-btn" data-bs-toggle="modal" data-bs-target="#modalMessageNew">
          Message <%= @user.username %>
        </button>
        <div id="modalMessage">
          <%= render "messages/new", chatroom: @chatroom, message: @message %>
        </div>
      <% end %>
    <% else %>
      <button type="button" class="btn user-profile__message-btn" data-bs-toggle="modal" data-bs-target="#modalLogin">
        Message <%= @user.username %>
      </button>
      <%= render 'shared/login_form' %>
    <% end %>
    <% if @portfolio.any? %>
      <%= link_to user_portfolio_path(@user), class: "user-profile__projects-btn-container link" do %>
        <button class="btn user-profile__projects-btn">Portfolio</button>
      <% end %>
    <% end %>
    <% if @ongoing_projects.any? %>
      <%= link_to user_ongoing_projects_path(@user), class: "user-profile__projects-btn-container link" do %>
        <button class="btn user-profile__projects-btn">Ongoing projects</button>
      <% end %>
    <% end %>
  </div>
  <div id="bottom-page"></div>
  <% if @user.contact_info? %>
    <div class="user-socialmedia-section user-profile-grid__socialmedia-section">
      <% if @user.website.present? %>
        <div><a class="user-socialmedia-section__link-item" target="_blank" rel="noopener noreferrer" href=<%= "https://" + @user.website %>>Website</a></div>
      <% end %>
      <% if @user.facebook.present? %>
        <div><a class="user-socialmedia-section__link-item" target="_blank" rel="noopener noreferrer" href=<%= "https://" + @user.facebook %>>Facebook</a></div>
      <% end %>
      <% if @user.instagram.present? %>
        <div><a class="user-socialmedia-section__link-item" target="_blank" rel="noopener noreferrer" href=<%= "https://" + @user.instagram %>>Instagram</a></div>
      <% end %>
      <% if @user.soundcloud.present? %>
        <div><a class="user-socialmedia-section__link-item" target="_blank" rel="noopener noreferrer" href=<%= "https://" + @user.soundcloud %>>Soundcloud</a></div>
      <% end %>
      <% if @user.youtube.present? %>
        <div><a class="user-socialmedia-section__link-item" target="_blank" rel="noopener noreferrer" href=<%= "https://" + @user.youtube %>>YouTube</a></div>
      <% end %>
      <% if @user.mixcloud.present? %>
        <div><a class="user-socialmedia-section__link-item" target="_blank" rel="noopener noreferrer" href=<%= "https://" + @user.mixcloud %>>Mixcloud</a></div>
      <% end %>
      <% if @user.linkedin.present? %>
        <div><a class="user-socialmedia-section__link-item" target="_blank" rel="noopener noreferrer" href=<%= "https://" + @user.linkedin %>>Linkedin</a></div>
      <% end %>
      <% if @user.twitter.present? %>
        <div><a class="user-socialmedia-section__link-item" target="_blank" rel="noopener noreferrer" href=<%= "https://" + @user.twitter %>>Twitter</a></div>
      <% end %>
    </div>
  <% end %>
  <div>
    <a href="#bottom-page">
      <div class="arrow-bottom-page">
        <ul class="arrow-bottom-page__sticks">
          <li class="arrow-bottom-page__stick arrow-bottom-page__stick--left"></li>
          <li class="arrow-bottom-page__stick arrow-bottom-page__stick--right"></li>
        </ul>
      </div>
    </a>
  </div>
</div>


