<%= render 'shared/hamburger' %>
<h5 class="m-0"><%= link_to "InfamousBerlin", root_path, class: "logo" %></h5>
<div class="profile-grid">
  <div class="img-name-profile">
    <div class="diamond-frame">
      <%= cl_image_tag @user.photo.key %>
    </div>
    <h1 class="name-profile"><%= @user.username %></h1>
  </div>
  <!-- </div> -->
  <div class="skills-bio">
    <div class="bio">
      <h1>Biography</h1>
      <p><%= @user.bio * 100 %></p>
    </div>
    <div class="skills">
      <h1>Skills</h1>
      <ul class="skills-list">
        <% @user.skills.each do |skill| %>
          <li><%= skill %></li>
          <li><%= skill %></li>
          <li><%= skill %></li>
          <li><%= skill %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="profile-buttons">
    <div class="buttons">
      <% if user_signed_in? %>
        <button type="button" class="btn btn-message" data-bs-toggle="modal" data-bs-target="#modalMessageNew">
          Message <%= @user.username %>
        </button>
        <div id="modalMessage">
          <%= render "messages/new", chatroom: @chatroom, message: @message %>
        </div>
        <% else %>
          <button type="button" class="btn btn-message" data-bs-toggle="modal" data-bs-target="#modalLogin">
            Message <%= @user.username %>
          </button>
          <%= render 'shared/login_form' %>
        <% end %>
        <button class="btn btn-projects">Portfolio</button>
        <button class="btn btn-projects">Upcoming projects</button>
      </div>
  </div>
</div>
<div class="links-socialmedia">
  <div class="d-flex align-items-center me-3"><h2 class="me-1">Website</h2></div>
  <div class="d-flex align-items-center me-3"><h2 class="me-1">Email</h2></div>
  <div class="d-flex align-items-center me-3"><h2 class="me-1">Facebook</h2></div>
  <div class="d-flex align-items-center me-3"><h2 class="me-1">Instagram</h2></div>
  <div class="d-flex align-items-center me-3"><h2 class="me-1">Soundcloud</h2></div>
  <div class="d-flex align-items-center me-3"><h2 class="me-1">YouTube</h2></div>
  <div class="d-flex align-items-center me-3"><h2 class="me-1">Mixcloud</h2></div>
  <div class="d-flex align-items-center me-3"><h2 class="me-1">Linkedin</h2></div>
  <div class="d-flex align-items-center me-3"><h2 class="me-1">Twitter</h2></div>
</div>

