<%= render 'shared/hamburger' %>
<div class="profile-grid">
  <div class="img-name-profile">
    <div class="card-user-profile">
      <div class="card-user-profile-diamond-username">
        <div class="diamond-wrapper-profile">
          <h3 class="card-user-profile-username"><%= @user.username %></h3>
          <div class="diamond-frame-big">
            <% if @user.photo.attached? %>
              <%= cl_image_tag @user.photo.key %>
            <% else %>
              <%= image_tag "logo" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <h3 class="card-user-profile-title"><%= @user.title %></h3>
  </div>
  <div class="skills-bio">
    <div class="bio">
      <h1>Bio</h1>
      <h4><%= simple_format @user.bio %></h4>
    </div>
    <div class="skills">
      <h1>Skills</h1>
      <ul class="skills-list ps-0">
        <% @user.display_skills.each do |skill| %>
          <li><h5 class="skill-box"><%= skill.downcase %></h5></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="profile-buttons">
    <div class="buttons">
      <% if user_signed_in? %>
        <% if current_user == @user %>
          <%= link_to "Edit your profile", edit_user_path, class: "btn btn-message" %>
        <% else %>
          <button type="button" class="btn btn-message" data-bs-toggle="modal" data-bs-target="#modalMessageNew">
            Message
          </button>
          <div id="modalMessage">
            <%= render "messages/new", chatroom: @chatroom, message: @message %>
          </div>
        <% end %>
      <% else %>
        <button type="button" class="btn btn-message" data-bs-toggle="modal" data-bs-target="#modalLogin">
          Message <%= @user.username %>
        </button>
        <%= render 'shared/login_form' %>
      <% end %>
      <% if @portfolio.any? %>
        <%= link_to user_portfolio_path(@user), class: "link" do %>
          <button class="btn btn-projects">Portfolio</button>
        <% end %>
      <% end %>
      <% if @ongoing_projects.any? %>
        <%= link_to user_ongoing_projects_path(@user), class: "link" do %>
          <button class="btn btn-projects">Ongoing projects</button>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if @user.contact_info? %>
    <div class="links-socialmedia" id="bottom-page">
      <% if @user.website.present? %>
        <div><a class="footer-socialmedia-link" target="_blank" rel="noopener noreferrer" href=<%= "https://" + @user.website %>>Website</a></div>
      <% end %>
      <% if @user.facebook.present? %>
        <div><a class="footer-socialmedia-link" target="_blank" rel="noopener noreferrer" href=<%= "https://" + @user.facebook %>>Facebook</a></div>
      <% end %>
      <% if @user.instagram.present? %>
        <div><a class="footer-socialmedia-link" target="_blank" rel="noopener noreferrer" href=<%= "https://" + @user.instagram %>>Instagram</a></div>
      <% end %>
      <% if @user.soundcloud.present? %>
        <div><a class="footer-socialmedia-link" target="_blank" rel="noopener noreferrer" href=<%= "https://" + @user.soundcloud %>>Soundcloud</a></div>
      <% end %>
      <% if @user.youtube.present? %>
        <div><a class="footer-socialmedia-link" target="_blank" rel="noopener noreferrer" href=<%= "https://" + @user.youtube %>>YouTube</a></div>
      <% end %>
      <% if @user.mixcloud.present? %>
        <div><a class="footer-socialmedia-link" target="_blank" rel="noopener noreferrer" href=<%= "https://" + @user.mixcloud %>>Mixcloud</a></div>
      <% end %>
      <% if @user.linkedin.present? %>
        <div><a class="footer-socialmedia-link" target="_blank" rel="noopener noreferrer" href=<%= "https://" + @user.linkedin %>>Linkedin</a></div>
      <% end %>
      <% if @user.twitter.present? %>
        <div><a class="footer-socialmedia-link" target="_blank" rel="noopener noreferrer" href=<%= "https://" + @user.twitter %>>Twitter</a></div>
      <% end %>
    </div>
  <% end %>
  <div class="arrow-bottom-page-wrapper">
    <a href="#bottom-page">
      <div class="arrow-bottom-page">
        <ul>
          <li></li>
          <li></li>
        </ul>
      </div>
    </a>
  </div>
</div>


