<div class="carousel carousel-container-js">
  <div class="carousel__thumbnails thumbnails-js">
    <% if @project.attachments.attached? %>
      <% if @project.attachments.first.video? %>
        <div class="carousel__mobile-placeholder placeholder-mobile-js">
          <%= cl_video_tag @project.attachments.first.key, controls: true, class: "carousel__mobile-video" %>
        </div>
      <% elsif @project.attachments.first.audio? %>
        <div class="carousel__mobile-placeholder placeholder-mobile-js">
          <div class="carousel__mobile-audio-control-wrapper">
            <%= image_tag asset_path('logo-audio.png'), class: "carousel__audio-poster play-audio-js" %>
            <%= cl_video_tag @project.attachments.first.key, source_types: [:mp3], controls: true, poster: false, class: "carousel__audio-control" %>
          </div>
        </div>
      <% else %>
        <div class="carousel__mobile-placeholder placeholder-mobile-js" data-bs-toggle="modal" data-bs-target="#modalSmallScreen">
          <%= cl_image_tag @project.attachments.first.key, cloud_name: cloudname, quality: "auto:low", class: "carousel__mobile-img", transformation: [{fetch_format: "auto"}, {width: 800, crop: "fill"}] %>
        </div>
      <% end %>
      <% @project_attachments.each do |attachment| %>
        <% if attachment == @project.attachments.first %>
          <picture class="carousel__thumbnail-wrapper carousel__thumbnail--big">
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 992px)" class="carousel__thumbnail">
            <% if attachment.video? %>
              <%= cl_video_tag attachment.key, class: "carousel__thumbnail carousel__thumbnail--poster thumbnail-js" %>
            <% elsif @project.attachments.first.audio? %>
              <%= image_tag asset_path('logo-audio.png'), class: "carousel__thumbnail carousel__thumbnail--poster carousel__thumbnail--img thumbnail-js" %>
              <%= cl_video_tag attachment.key, class: "carousel__thumbnail--video", poster: false %>
            <% else %>
              <%= cl_image_tag attachment.key, class: "carousel__thumbnail carousel__thumbnail--poster carousel__thumbnail--img thumbnail-js", quality: "auto:low", transformation: [{fetch_format: "auto"}, {width: 1110, crop: "fill"}] %>
            <% end %>
          </picture>
        <% else %>
          <picture class="carousel__thumbnail-wrapper">
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 992px)">
            <% if attachment.video? %>
              <%= cl_video_tag attachment.key, class: "carousel__thumbnail carousel__thumbnail--poster thumbnail-js" %>
            <% elsif attachment.audio? %>
              <%= image_tag asset_path('logo-audio.png'), class: "carousel__thumbnail carousel__thumbnail--poster thumbnail-js" %>
              <%= cl_video_tag attachment.key, poster: false, class: "carousel__thumbnail--video" %>
            <% else %>
              <%= cl_image_tag attachment.key, class: "carousel__thumbnail carousel__thumbnail--poster thumbnail-js", quality: "auto:low", transformation: [{fetch_format: "auto"}, {width: 1110, crop: "fill"}] %>
            <% end %>
          </picture>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="carousel__mobile-dots">
    <% i = 1 %>
    <% @project.attachments.each do |attachment| %>
      <% if attachment == @project.attachments.first %>
        <div class="carousel__mobile-dot carousel__mobile-dot--active dot-js" data-dot-id="0"></div>
      <% else %>
        <div class="carousel__mobile-dot dot-js" data-dot-id="<%= i %>"></div>
        <% i += 1 %>
      <% end %>
    <% end %>
  </div>
  <div class="carousel__arrows arrows">
    <div class="carousel__arrow--up carousel__arrow--hidden arrow-up-js"></div>
    <div class="carousel__arrow--down carousel__arrow--hidden arrow-down-js"></div>
  </div>
  <div class="carousel__main-slide">
    <div class="carousel__main-container">
      <% if @project.attachments.first.video? %>
        <picture class="carousel__img-video-wrapper img-slide-js">
          <source class="carousel__main-poster" srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 992px)">
          <%= cl_video_tag @project.attachments.first.key, controls: true, muted: true, class: "carousel__main-video-poster", alt: "#{@project.title}" %>
        </picture>
      <% elsif @project.attachments.first.audio? %>
        <div class="carousel__main-audio-control-wrapper img-slide-js">
          <%= image_tag asset_path('logo-audio.png'), class: "carousel__main-audio-poster play-audio-js", alt: "#{@project.title}" %>
          <%= cl_video_tag @project.attachments.first.key, source_types: [:mp3], controls: true, poster: false, class: "carousel__main-audio-control" %>
        </div>
      <% else %>
        <picture class="carousel__img-video-wrapper img-slide-js" data-bs-toggle="modal" data-bs-target="#modalBigScreen">
          <source class="carousel__main-poster" srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 992px)">
          <%= cl_image_tag @project.attachments.first.key, class: "carousel__main-img-poster", quality: "auto", transformation: [{fetch_format: "auto"}, {width: 1110, crop: "fill"}], alt: "#{@project.title}" %>
        </picture>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="modalSmallScreen" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content carousel__overlay">
      <div class="modal-body overlay-body-small-screen-js">
        <% if @project.attachments.attached? %>
          <% if @project.attachments.first.video? %>
            <img class="carousel__overlay-poster" src="">
          <% else %>
            <%= cl_image_tag @project.attachments.first.key, quality: "auto", transformation: [{fetch_format: "auto"}] %>
          <% end %>
        <% end %>
        <button type="button" class="carousel__overlay-close-btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalBigScreen" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen ">
    <div class="modal-content carousel__overlay">
      <div class="modal-body carousel__overlay-body overlay-body-big-screen-js">
        <% if @project.attachments.attached? %>
          <% if @project.attachments.first.video? %>
            <img class="carousel__overlay-poster" src="">
          <% else %>
            <%= cl_image_tag @project.attachments.first.key, quality: "auto", transformation: [{fetch_format: "auto"}] %>
          <% end %>
        <% end %>
        <button type="button" class="btn-close carousel__overlay-close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
