<nav id="slide" role='navigation'>
  <div id="menu-toggle">
    <input type="checkbox" id="checkbox"/>
    <div id="screen-blur"></div>
    <span class="nav-homepage-js"></span>
    <span class="hamburger-middle-span nav-homepage-js"></span>
    <span class="nav-homepage-js"></span>
    <ul id="menu">
      <li class="hamburger-menu-brand">
        <%= link_to "InfamousBerlin", root_path, class: "scroll-event-exit-js" %>
        <div class="underlined-title"></div>
      </li>
      <li class="hamburger-menu-lists">
        <ul class="hamburger-menu-list hamburger-menu-list-first">
          <li class="hamburger-menu-list-item"><%= link_to "Find talent", users_path, class: "scroll-event-exit-js" %></li>
          <li class="hamburger-menu-list-item"><%= link_to "Find project", upcoming_projects_path, class: "scroll-event-exit-js" %></li>
          <li class="hamburger-menu-list-item"><%= link_to "Find job", jobs_path, class: "scroll-event-exit-js" %></li>
        </ul>
        <ul class="hamburger-menu-list">
          <% if !user_signed_in? %>
            <li><%= link_to "Log in", new_user_session_path, data: {'bs-toggle': "modal", 'bs-target': "#modalLogin"}, class: "scroll-event-exit-js" %></li>
            <li><%= link_to "Sign up", new_user_registration_path, class: "scroll-event-exit-js" %></li>
          <% else %>
            <li class="hamburger-menu-list-item"><%= link_to "Dashboard", dashboard_path, class: "scroll-event-exit-js" %></li>
            <li class="hamburger-menu-list-item hamburger-menu-list-item-messages">
              <%= link_to "Messages", chatrooms_path, class: "scroll-event-exit-js" %>
              <% if current_user.unread_messages? %>
                <div class="unread-messages-badge"></div>
              <% end %>
            </li>
            <li class="hamburger-menu-list-item"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "scroll-event-exit-js" %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="nav-brand-solo-container">
  <%= link_to root_path, class: "scroll-event-exit-js nav-brand-container" do %>
    <div class="nav-brand-text nav-brand-solo-text nav-homepage-js">InfamousBerlin</div>
  <% end %>
</div>
