<nav id="slide" role='navigation'>
  <div class="hamburger-wrapper-hidden burger-js">
    <div id="menu-toggle">
      <input type="checkbox" id="checkbox"/>
      <div id="screen-blur"></div>
      <span></span>
      <span class="hamburger-middle-span"></span>
      <span></span>
      <ul id="menu">
        <% if user_signed_in? %>
          <li><%= link_to "Messages", chatrooms_path %></li>
          <li><%= link_to "Dashboard", dashboard_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <li>
            <%= simple_form_for :search, url: search_path, method: :get do |f| %>
              <div class="search-hamburger">
                <input type="text" name="query" class="search-hamburger-input placeholder-transparent burger-search-input-js" placeholder="Search user or project...">
                <button name="button" type="reset" class="search-hamburger-btn burger-search-btn-js"></button>
              </div>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path, data: {'bs-toggle': "modal", 'bs-target': "#modalLogin"} %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
