<nav class="navbar navbar-dark">
  <% if user_signed_in? %>
    <%= render 'shared/hamburger' %>
  <% else %>
    <ul class="user-gate">
      <li><%= link_to "Sign Up", new_user_registration_path, class:"scroll-event-exit-js sign-up-btn-navbar" %></li>
      <li class="nav-homepage-js">/</li>
      <li><%= link_to "Login", new_user_session_path, data: {'bs-toggle': "modal", 'bs-target': "#modalLogin"} %></li>
      <li class="nav-homepage-js">/</li>
      <li><%= link_to "Find talent", users_path, class: "scroll-event-exit-js" %></li>
      <li class="nav-homepage-js">/</li>
      <li><%= link_to "Find project", upcoming_projects_path, class: "scroll-event-exit-js" %></li>
      <li class="nav-homepage-js">/</li>
      <li>
        <%= link_to root_path, class: "scroll-event-exit-js nav-brand-container" do %>
          <div class="nav-brand-text">InfamousBerlin</div>
        <% end %>
      </li>
    </ul>
  <% end %>
</nav>
<%= render 'shared/login_form' %>
