<nav class="vertical-navbar">
  <% if user_signed_in? %>
    <%= render 'shared/hamburger' %>
  <% else %>
    <ul class="vertical-navbar__menus">
      <li class="vertical-navbar__menu-item"><%= link_to "Sign Up", new_user_registration_path, class: "vertical-navbar__link--sign-up" %></li>
      <li class="vertical-navbar__menu-item-separator">/</li>
      <li class="vertical-navbar__menu-item"><%= link_to "Login", new_user_session_path, class: "vertical-navbar__link", data: {'bs-toggle': "modal", 'bs-target': "#modalLogin"} %></li>
      <li class="vertical-navbar__menu-item-separator">/</li>
      <li class="vertical-navbar__menu-item"><%= link_to "Find talent", users_path, class: "vertical-navbar__link" %></li>
      <li class="vertical-navbar__menu-item-separator">/</li>
      <li class="vertical-navbar__menu-item"><%= link_to "Find project", upcoming_projects_path, class: "vertical-navbar__link" %></li>
      <li class="vertical-navbar__menu-item-separator">/</li>
      <li class="vertical-navbar__menu-item--brand">
        <%= link_to root_path, class: "vertical-navbar__brand-container" do %>
          <div class="vertical-navbar__brand-text">InfamousBerlin</div>
        <% end %>
      </li>
    </ul>
  <% end %>
</nav>
<%= render 'shared/login_form' %>
