<nav class="navbar navbar-dark">
  <%= render 'shared/brand' %>
  <% if user_signed_in? %>
    <ul class="navbar-right">
      <div class="navbar-right-menu dropdown show">
        <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Find talent
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to "List a new project", new_project_path, class: "dropdown-item" %>
          <%= link_to "Browse through artists", users_path, class: "dropdown-item" %>
        </div>
      </div>
      <div class="navbar-right-menu dropdown show">
        <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Find work
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to "Open jobs", jobs_path, class: "dropdown-item" %>
          <%= link_to "Upcoming projects", upcoming_projects_path, class: "dropdown-item" %>
        </div>
      </div>
    </ul>
  <% else %>
    <ul class="user-register">
      <li><%= link_to "Login", new_user_session_path, data: {'bs-toggle': "modal", 'bs-target': "#modalLogin"} %></li>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
    </ul>
  <% end %>
</nav>
<% if user_signed_in? %>
  <%= render 'shared/hamburger' %>
<% end %>
<%= render 'shared/login_form' %>


