<%= render 'shared/navbar' %>
<div class="event-index__title">
  <div class="event-index__title-text event-index__title-text--main">Events</div>
  <div class="event-index__title-text event-index__title-text--sub">// for the next 4 weeks</div>
</div>
<div class="recommended-events-section">
  <% if @recommended_events.present? %>
    <h1 class="recommended-events-section__title">Recommended</h1>
    <div class="recommended-events-section__slider">
      <div class="events-slider__chevron-wrapper">
        <div class="events-slider__chevron chevron--hidden past-chevron-left-js">&#x3c;</div>
      </div>
      <div class="events-slider__cards-container slider-js">
        <% @recommended_events.each do |event| %>
          <%= link_to event_path(event), class: "events-slider__card" do %>
            <div class="events-slider__img-wrapper check-img-state-js">
              <%= cl_image_tag event.photo.key, quality: "auto", alt: "event's picture", class: "events-slider__img", transformation: [{fetch_format: "auto"}, {width: 350, crop: "fill"}] %>
            </div>
            <div class="events-slider__date"><%= event.date.strftime("%a, %d %b %Y - %I%P") %></div>
            <div class="events-slider__title"><%= event.title %></div>
            <div class="events-slider__venue">
              <i class="fas fa-thumbtack"></i>
              <div class="events-slider__venue-text"><%= event.venue %></div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="events-slider__chevron-wrapper">
        <div class="events-slider__chevron chevron--hidden past-chevron-right-js">&#x3e;</div>
      </div>
    </div>
  <% end %>
</div>
<div class="event-index__calendar">
  <% @calendar.each do |day, events| %>
    <div class="event-index__day-section">
      <div class="event-index__card-section">
        <% events.each do |event| %>
          <%= link_to event_path(event), class: "index-event-card" do %>
            <%= cl_image_tag event.photo.key, quality: "auto", alt: "event's picture", class: "index-event-card__event-img", transformation: [{fetch_format: "auto"}, {width: 350, crop: "fill"}] %>
            <div class="index-event-card__event-details">
              <h2 class="index-event-card__event-title"><%= event.title %></h2>
              <div class="index-event-card__event-subdetails">
                <div class="index-event-card__icon-and-text">
                  <i class="fas fa-thumbtack index-event-card__icon"></i>
                  <div class="index-event-card__text"><%= event.venue %></div>
                </div>
                <% if event.attendees? %>
                  <div class="index-event-card__icon-and-text index-event-card__attendees">
                    <i class="fas fa-child index-event-card__icon"></i>
                    <div class="index-event-card__text bck-btn-reload-js"><%= event.attendees.count %></div>
                  </div>
                <% end %>
              </div>
              <% if !event.random? %>
                <%= render 'small_stamp', event: event %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="event-index__date-section">
        <div class="event-index__date"><%= day.strftime("%a, %d %b") %></div>
      </div>
    </div>
  <% end %>
</div>
