<%= render 'shared/navbar' %>
<div class="event-page-grid">
  <div class="event-title-and-details">
    <div class="event-title-and-details__title">
      <h1 class="event-title-and-details__title-text"><%= @event.title %></h1>
    </div>
    <div class="event-title-and-details__details">
      <div class="event-title-and-details__details--left">
        <div>
          <div class="event-title-and-details__details-title">Venue</div>
          <div class="event-title-and-details__location">
            <div class="event-title-and-details__detail-item event-title-and-details__detail-item--venue"><%= @event.venue %></div>
            <div>-- <%= @event.address %></div>
          </div>
        </div>
        <div>
          <div class="event-title-and-details__details-title">Organizer</div>
          <div class="event-title-and-details__detail-item"><%= @event.organizer %></div>
        </div>
        <div>
          <div class="event-title-and-details__details-title">Date</div>
          <div class="event-title-and-details__detail-item"><%= @event.date.strftime("starting on %a, %d %b %Y - %I%P") %></div>
        </div>
      </div>
      <div class="event-title-and-details__details--right">
        <div class="event-title-and-details__attendees-wrapper">
          <button class="event-title-and-details__attendees-btn attendees-btn-js" data-bs-toggle="modal" data-bs-target="#modalLogin">
            <i class="fas fa-user-plus event-title-and-details__attendees-btn-icon"></i>
            <div class="event-title-and-details__attendees-btn-text">Attend</div>
          </button>
          <div>
            <div class="event-title-and-details__details-title event-title-and-details__details-title--attendees">Attendees</div>
            <div class="event-title-and-details__detail-item event-title-and-details__detail-item--attendees-amount"><%= @event.attendees %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="event-poster-and-description">
    <div class="event-poster-and-description__poster">
      <%= cl_image_tag @event.photo.key, quality: "auto", alt: "event's picture", class: "event-poster-and-description__poster--img", transformation: [{fetch_format: "auto"}, {width: 700, crop: "fill"}] %>
    </div>
    <div class="event-poster-and-description__description">
      <div><%= simple_format @event.description %></div>
    </div>
  </div>
  <div class="event-medias">
    <div class="event-medias__top-border--wrapper">
      <div class="event-medias__top-border--left"></div>
      <div class="event-medias__top-border--right"></div>
    </div>
    <div class="event-medias__links">
      <%= raw @event.media %>
    </div>
  </div>
</div>

<% if !user_signed_in? %>
  <%= render 'shared/login_form' %>
<% end %>
