<div class="dash-cards-slider js-slider js-collabs-results">
  <h4 class="dash-slider-title-mobile">Collabs</h4>
  <% @collabs.each do |collab| %>
    <div class="dash-card-project">
      <%= link_to project_path(collab.slug) do  %>
        <h4 class="title-card-project-search">
          <%= collab.title %>
          <% if collab.upcoming? %>
            <div class="ribbon">UPCOMING</div>
          <% end %>
        </h4>
        <div class="dash-card-img-wrapper">
          <% if collab.attachments.attached? %>
            <% if collab.attachments.first.image? %>
              <%= cl_image_tag collab.attachments.first.key, class: "dash-card-img", quality: "auto:low", transformation: [{fetch_format: "auto"}, {width: 400, crop: "fill"}] %>
            <% elsif collab.attachments.first.audio? %>
              <%= cl_image_tag "/assets/logo-audio.png", class: "dash-card-img" %>
            <% else %>
              <%= cl_video_tag collab.attachments.first.key, class: "dash-card-img" %>
            <% end %>
          <% else %>
            <%= image_tag "logo.png", class: "dash-card-img" %>
          <% end %>
        </div>
        <div class="dash-card-text"><%= collab.description %></div>
      <% end %>
      <div class="dash-card-btns">
        <div class="dash-card-delete-btn w-100">
          <%= link_to collab_path(collab.id), method: :delete, data: { confirm: "Are you sure?" } do %>
            <h5>Quit collab</h5>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
