<%= render 'shared/hamburger' %>
<h5><%= link_to "InfamousBerlin", root_path, class: "logo" %></h5>
<h1>Dashboard</h1>
<h2>Your account</h2>
<%= link_to "Edit your profile", edit_user_path(current_user.slug) %>
<%= link_to "Delete your profile", user_path(current_user), method: :delete, data: { confirm: "Are you sure?" } %>
<h2>My portfolio</h2>
<% if @portfolio_projects.empty? %>
  <p>No projects in your portfolio yet... 😢</p>
  <%= link_to "Add a new project", new_project_path %>
<% else %>
  <% @portfolio_projects.each do |project| %>
    <%= project.title %>
    <%= project.category %>
    <%= project.date %>
    <%= link_to "Edit", edit_project_path(project.slug) %>
    <%= link_to "Delete", project_path(project.slug), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
  <%= link_to "Add a new project", new_project_path %>
<% end %>
<h2>My upcoming projects</h2>
<% if @upcoming_projects.empty? %>
  <p>No upcoming project yet... 😢</p>
  <%= link_to "Add a new project", new_project_path %>
<% else %>
  <% @upcoming_projects.each do |project| %>
    <%= project.title %>
    <%= project.category %>
    <%= project.date %>
    <%= link_to "Edit", edit_project_path(project.slug) %>
    <%= link_to "Delete", project_path(project.slug), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
  <%= link_to "Add a new project", new_project_path %>
<% end %>
<br>
<%= link_to "Check your collaborations", collaboration_path %>
