<%= render 'shared/hamburger' %>
<div class="background-dash">
  <h1 class="dashboard-title">
    Dashboard
    <div class="underlined-title"></div>
  </h1>

  <div class="big-card">
    <div class="pic-links-dash">
      <div class="pic-dash">
        <div class="diamond-wrapper">
          <h3 class="card-user-search-username"><%= current_user.username %></h3>
          <div class="diamond-frame-small">
            <% if !current_user.default_profile_pic? %>
              <%= link_to user_path(current_user), class: "link" do %>
                <%= cl_image_tag current_user.photo.key, quality: "auto:low", transformation: [{fetch_format: "auto"}, {width: 300, crop: "fill"}] %>
              <% end %>
            <% else %>
              <%= link_to edit_user_path(current_user.slug, anchor: "picture-anchor"), class: "link" do %>
                <div class="diamond-frame-small-img-reminder-text">Upload a picture!</div>
                <div class="diamond-frame-small-img-reminder"></div>
                <%= cl_image_tag current_user.photo.key, quality: "auto:low", transformation: [{fetch_format: "auto"}, {width: 300, crop: "fill"}] %>
              <% end %>
            <% end %>
          </div>
          <h5 class="card-user-search-body-title"><%= current_user.title %></h5>
        </div>
      <div>
    </div>
  </div>

  <div class="line-separator"></div>

  <div class="profile-links-dash">
    <%= link_to user_path(current_user), class: "d-inline-block" do %>
      <h3 class="profile-link-dash">
        Visit your profile
        <div class="underlined-link-dash underlined-green"></div>
      </h3>
    <% end %>
    <br>
    <%= link_to edit_user_path(current_user.slug), class: "d-inline-block" do %>
      <h3 class="profile-link-dash edit-link-dash">
        Edit your profile
        <div class="underlined-link-dash underlined-gray"></div>
        <% if current_user.bio.blank? %>
          <div class="uncomplete-profile-badge"></div>
        <% end %>
      </h3>
    <% end %>
    <br>
    <% if policy(Project).create? %>
      <%= link_to new_project_path, class: "d-inline-block" do %>
        <h3 class="profile-link-dash">
          Add a new project
          <div class="underlined-link-dash underlined-green"></div>
        </h3>
      <% end %>
    <% end %>
  </div>

</div>

<div class="line-separator"></div>

<div class="dash-top-menu">
  <input type="checkbox" id="checkbox_toggle">
  <label class="dash-menu-dropdown-mobile-arrow" for="checkbox_toggle"></label>
  <div class="dash-menu-dropdown-mobile-more mobile-dropdown-arrow-js"></div>
  <ul class="dash-dropdowns">
    <% if @upcoming_projects.present? || @past_projects.present? %>
      <li class="dash-dropdown">
        <div class="dash-dropdown-menu" >Projects</div>
        <div class="dash-dropdown-links">
          <% if @upcoming_projects.present? %>
            <%= link_to "Upcoming", upcoming_projects_dash_path, class: "dropdown-links-js", remote: true %>
          <% end %>
          <% if @past_projects.present? %>
            <%= link_to "Past", past_projects_dash_path, class: "dropdown-links-js", remote: true %>
          <% end %>
        </div>
      </li>
    <% end %>
    <% if @open_jobs.present? || @close_jobs.present? %>
      <li class="dash-dropdown dash-dropdown-jobs">
        <div class="dash-dropdown-menu" >Jobs</div>
        <div class="dash-dropdown-links">
          <% if @open_jobs.present? %>
            <%= link_to "Open", open_jobs_dash_path, class: "dropdown-links-js", remote: true %>
          <% end %>
          <% if @close_jobs.present? %>
            <%= link_to "Close", close_jobs_dash_path, class: "dropdown-links-js", remote: true %>
          <% end %>
        </div>
      </li>
    <% end %>
    <% if @hold_received_applications.present? || @accepted_received_applications.present? || @rejected_received_applications.present? %>
      <li class="dash-dropdown">
        <div class="dash-dropdown-menu" >Applications received</div>
        <div class="dash-dropdown-links">
          <% if @hold_received_applications.present? %>
            <%= link_to "On hold", hold_received_dash_path, class: "dropdown-links-js", remote: true %>
          <% end %>
          <% if @accepted_received_applications.present? %>
            <%= link_to "Accepted", accepted_received_dash_path, class: "dropdown-links-js", remote: true %>
          <% end %>
          <% if @rejected_received_applications.present? %>
            <%= link_to "Rejected", rejected_received_dash_path, class: "dropdown-links-js", remote: true %>
          <% end %>
        </div>
      </li>
    <% end %>
    <% if @upcoming_collabs.present? || @past_collabs.present? %>
      <li class="dash-dropdown">
        <div class="dash-dropdown-menu" >Collabs</div>
        <div class="dash-dropdown-links">
          <% if @upcoming_collabs.present? %>
            <%= link_to "Upcoming", upcoming_collabs_dash_path, class: "dropdown-links-js", remote: true %>
          <% end %>
          <% if @past_collabs.present? %>
            <%= link_to "Past", past_collabs_dash_path, class: "dropdown-links-js", remote: true %>
          <% end %>
        </div>
      </li>
    <% end %>
    <% if @hold_sent_applications.present? || @accepted_sent_applications.present? || @rejected_sent_applications.present? %>
      <li class="dash-dropdown">
        <div class="dash-dropdown-menu" >Applications sent</div>
        <div class="dash-dropdown-links">
          <% if @hold_sent_applications.present? %>
            <%= link_to "On hold", hold_sent_dash_path, class: "dropdown-links-js", remote: true %>
          <% end %>
          <% if @accepted_sent_applications.present? %>
            <%= link_to "Accepted", accepted_sent_dash_path, class: "dropdown-links-js", remote: true %>
          <% end %>
          <% if @rejected_sent_applications.present? %>
            <%= link_to "Rejected", rejected_sent_dash_path, class: "dropdown-links-js", remote: true %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>





<% if @projects.present? %>
  <div class="portfolio-cards">
    <div class="dash-chevron"><h5 class="past-chevron-left chevron-hidden">&#x3c;</h5></div>
    <%= render "projects_dash" %>
    <div class="dash-chevron"><h5 class="past-chevron-right chevron-hidden">&#x3e;</h5></div>
  </div>
<% elsif @collabs.present? %>
  <div class="portfolio-cards">
    <div class="dash-chevron"><h5 class="past-chevron-left chevron-hidden">&#x3c;</h5></div>
    <%= render "collabs_dash" %>
    <div class="dash-chevron"><h5 class="past-chevron-right chevron-hidden">&#x3e;</h5></div>
  </div>
<% elsif @hold_sent_applications.present? || @accepted_sent_applications.present? || @rejected_sent_applications.present? %>
  <div class="portfolio-cards">
    <div class="dash-chevron"><h5 class="past-chevron-left chevron-hidden">&#x3c;</h5></div>
    <%= render "sent_dash" %>
    <div class="dash-chevron"><h5 class="past-chevron-right chevron-hidden">&#x3e;</h5></div>
  </div>
<% else %>
  <div class="d-flex align-items-baseline ms-5">
    <h5 class="dash-no-project text-center">No project nor collab in your portfolio yet...</h5><i class="far fa-sad-cry ms-1"></i>
  </div>
  <!-- ^^ moyen de virer la derniere option? -->
<% end %>
<div class="profile-links-dash dash-bottom-btns w-auto">
  <%= link_to user_path(current_user), method: :delete, data: { confirm: "Are you sure?" }, class: "d-inline-block" do %>
    <h3 class="profile-link-dash link">
      Delete your profile
      <div class="underlined-link-dash underlined-red"></div>
    </h3>
  <% end %>
</div>

