<%= render 'shared/preloader' %>
<%= render 'shared/hamburger_homepage' %>
<div class="hamburger-solo-desktop">
  <%= render 'shared/navbar' %>
</div>
<div class="homepage">
  <section class="first-layer homepage-slides-js s1">
    <div class="forth-landing-screen-brands">
      <div class="forth-landing-screen-brand">
        <div class="forth-landing-screen-brand-one">Infamous</div>
        <div class="forth-landing-screen-brand-two">Berlin</div>
      </div>
    </div>
    <div class="forth-landing-screen-text-container">
      <div class="forth-landing-screen-text">, a local platform connecting <span class="text-art">art<div class="text-underlined"></div></span> projects and creative <span class="text-talents">talents<div class="text-underlined"></div></span></div>
      <div class="homepage-circle-text-container">
        <svg class="homepage-circle-text" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-1500 0 2000 500">
        <defs>
          <path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250" id="textcircle">
            <animateTransform
                    attributeName="transform"
                    begin="0s"
                    dur="30s"
                    type="rotate"
                    from="0 250 250"
                    to="360 250 250"
                    repeatCount="indefinite"
              />
          </path>
        </defs>
          <text dy="20" textLength="1220">
            <textPath xlink:href="#textcircle">scroll down • scroll down •</textPath>
          </text>
        </svg>
      </div>
    </div>
  </section>
  <section class="second-layer s2">
    <div class="forth-landing-screen-background-img">
      <div class="forth-landing-screen-img-text">Find creative <span class="text-work">work<div class="text-underlined"></div></span> for your talent</div>
    </div>
  </section>
  <section class="third-layer s3">
    <div class="parallax bg">
      <div class="cyclop1-container limage1">
        <img src="/assets/cyclop1-peep" alt="" class="cyclop1-peep">
        <img src="/assets/cyclop1-background" alt="" class="cyclop1-background">
      </div>
      <div class="monster-female-container limage2">
        <img src="/assets/monster-female-peep" alt="" class="monster-female-peep">
        <img src="/assets/monster-female-background" alt="" class="monster-female-background">
      </div>
      <div class="bear-container limage3">
        <img src="/assets/bear-peep" alt="" class="bear-peep">
        <img src="/assets/bear-background" alt="" class="bear-background">
      </div>
      <div class="cyclop2-container limage4">
        <img src="/assets/cyclop2-peep" alt="" class="cyclop2-peep">
        <img src="/assets/cyclop2-background" alt="" class="cyclop2-background">
      </div>
      <div class="landing-screen-text-three">Find <span class="text-talents2">talents<div class="text-underlined"></div></span> for your art project</div>
      <div class="monster-male-container limage5">
        <img src="/assets/monster-male-peep" alt="" class="monster-male-peep">
        <img src="/assets/monster-male-background" alt="" class="monster-male-background">
      </div>
      <div class="denver-container limage6">
        <img src="/assets/denver-peep" alt="" class="denver-peep">
        <img src="../../assets/denver-background" alt="" class="denver-background">
      </div>
      <div class="hijab-container limage7">
        <img src="/assets/hijab-peep" alt="" class="hijab-peep">
        <img src="/assets/hijab-background" alt="" class="hijab-background">
      </div>
    </div>
    <div class="footer-gray-container">
      <div class="footer-top-diagonal-outside"></div>
      <div class="footer-top-diagonal-inside"></div>
      <div class="home-signup-btn">
        <%= link_to new_user_registration_path do %>
          <div class="home-signup-btn-text scroll-event-exit-js">
            <h3>Sign up now!</h3>
          </div>
        <% end %>
      </div>
      <%= render 'shared/footer' %>
      <div class="modal fade footer-modal" id="modalSupportUs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content support-modal">
            <div class="modal-header support-modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Support us</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body support-body">
              <p class="">InfamousBerlin is a free space for artists to connect and develop their creativity. The sole purpose of the platform is to provide support to the local art scene. If you would like to help us in that project you can contact us or participate in our operating cost via PayPal or BTC:</p>
              <div class="support-details">
                <i class="fas fa-at"></i>
                <p>hi@infamousberlin.com</p>
              </div>
              <div class="support-details">
                <i class="fab fa-paypal"></i>
                <%= link_to "PayPal", "https://www.paypal.me/InfamousBerlin" %>
              </div>
              <div class="support-details">
                <i class="fab fa-bitcoin"></i>
                <p>BTC network - 1KC7HewJRWkLF1TgDx9nowbbuwbm3EjBD</p>
              </div>
              <p class="support-thanks">Thanks for your help!</p>
              <div class=support-modal-background></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="footer-background-wrapper">
      <div class="footer-background"></div>
    </div> -->
  </section>
</div>
