<%= render 'shared/preloader' %>
<%= render 'shared/tap_btn' %>
<%= render 'shared/cursor' %>
<%= render 'shared/navbar' %>
<div class="homepage homepage-slides-js">
  <section class="homepage__first-slide section-in-viewport-js">
    <div class="homepage-brand">
      <div class="homepage-brand__top">Infamous</div>
      <div class="homepage-brand__bottom">Berlin</div>
    </div>
    <div class="homepage-first-headline">
      <div class="homepage-first-headline__text">A local platform connecting <span class="homepage-first-headline__highlight homepage-first-headline__highlight--yellow">art<div class="homepage-first-headline__underline"></div></span> projects and creative <span class="homepage-first-headline__highlight homepage-first-headline__highlight--purple">talents<div class="homepage-first-headline__underline"></div></span></div>
    </div>
  </section>
  <section class="homepage__second-slide second-section-js">
    <div class="homepage-second-headline__text">Find creative <span class="homepage-second-headline__highlight">work<div class="homepage-second-headline__underline"></div></span> for your talent</div>
  </section>
  <section class="homepage__third-slide third-section-js">
    <div class="homepage-parallax">
      <div class="homepage-parallax__first-cyclop">
        <%= cl_image_tag "cyclop1-peep.png", cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "homepage-parallax__first-cyclop-character", quality: "auto", transformation: [{fetch_format: "auto"}] %>
        <%= cl_image_tag "cyclop1-background.png", cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "homepage-parallax__first-cyclop-background", quality: "auto", transformation: [{fetch_format: "auto"}] %>
      </div>
      <div class="homepage-parallax__monster-woman">
        <%= cl_image_tag "monster-woman-peep.png", cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "homepage-parallax__monster-woman-character", quality: "auto", transformation: [{fetch_format: "auto"}] %>
        <%= cl_image_tag "monster-woman-background.png", cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "homepage-parallax__monster-woman-background", quality: "auto", transformation: [{fetch_format: "auto"}] %>
      </div>
      <div class="homepage-parallax__bear">
        <%= cl_image_tag "bear-peep.png", cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "homepage-parallax__bear-character", quality: "auto", transformation: [{fetch_format: "auto"}] %>
        <%= cl_image_tag "bear-background.png", cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "homepage-parallax__bear-background", quality: "auto", transformation: [{fetch_format: "auto"}] %>
      </div>
      <div class="homepage-parallax__second-cyclop">
        <%= cl_image_tag "cyclop2-peep.png", cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "homepage-parallax__second-cyclop-character", quality: "auto", transformation: [{fetch_format: "auto"}] %>
        <%= cl_image_tag "cyclop2-background.png", cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "homepage-parallax__second-cyclop-background", quality: "auto", transformation: [{fetch_format: "auto"}] %>
      </div>
      <div class="homepage-third-headline__text">Find <span class="homepage-third-headline__highlight">talents<div class="homepage-third-headline__underline"></div></span> for your art project</div>
      <div class="homepage-parallax__monster-male">
        <%= cl_image_tag "monster-male-peep.png", cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "homepage-parallax__monster-male-character", quality: "auto", transformation: [{fetch_format: "auto"}] %>
        <%= cl_image_tag "monster-male-background.png", cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "homepage-parallax__monster-male-background", quality: "auto", transformation: [{fetch_format: "auto"}] %>
      </div>
      <div class="homepage-parallax__denver">
        <%= cl_image_tag "denver-peep.png", cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "homepage-parallax__denver-character", quality: "auto", transformation: [{fetch_format: "auto"}] %>
        <%= cl_image_tag "denver-background.png", cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "homepage-parallax__denver-background", quality: "auto", transformation: [{fetch_format: "auto"}] %>
      </div>
      <div class="homepage-parallax__hijab">
        <%= cl_image_tag "hijab-peep.png", cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "homepage-parallax__hijab-character", quality: "auto", transformation: [{fetch_format: "auto"}] %>
        <%= cl_image_tag "hijab-background.png", cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "homepage-parallax__hijab-background", quality: "auto", transformation: [{fetch_format: "auto"}] %>
      </div>
    </div>
    <div class="homepage-signup-section">
      <div class="homepage-signup-section__outside-border"></div>
      <div class="homepage-signup-section__inside-border"></div>
      <div class="homepage-signup-section__btn-wrapper">
        <%= link_to new_user_registration_path, class: "homepage-signup-section__btn-link" do %>
          <div class="homepage-signup-section__btn">
            <h3 class="homepage-signup-section__btn-text">Sign up now!</h3>
          </div>
        <% end %>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </section>
</div>
<div class="modal fade homepage-modal" id="modalSupportUs" tabindex="-1" role="dialog" aria-labelledby="supportUsModalLabel" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content homepage-modal__content">
      <div class="modal-header homepage-modal__header">
        <h5 class="modal-title homepage-modal__header-text" id="supportUsModalLabel">Support us</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body homepage-modal__body">
        <p class="homepage-modal__body-text">InfamousBerlin is a free space for artists to connect and develop their creativity. The sole purpose of the platform is to provide support to the local art scene. If you would like to help us in that project you can contact us or participate in our operating cost via PayPal or BTC:</p>
        <div class="homepage-modal__reference">
          <i class="fas fa-at homepage-modal__reference-icon"></i>
          <p class="homepage-modal__reference-text">hello@infamousberlin.com</p>
        </div>
        <div class="homepage-modal__reference">
          <i class="fab fa-paypal homepage-modal__reference-icon"></i>
          <%= link_to "PayPal", "https://www.paypal.me/InfamousBerlin", target: "_blank", class:"homepage-modal__reference-link" %>
        </div>
        <div class="homepage-modal__reference">
          <i class="fab fa-bitcoin homepage-modal__reference-icon"></i>
          <p class="homepage-modal__reference-text">BTC network - 1KC7HewJRWkLF1TgDx9nowbbuwbm3EjBD</p>
        </div>
        <p class="homepage-modal__body-thanks">Thanks for your help!</p>
        <div class="homepage-modal__background"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade homepage-modal" id="modalFeedback" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content homepage-modal__content">
      <div class="modal-header homepage-modal__header">
        <h5 class="modal-title homepage-modal__header-text" id="feedbackModalLabel">Send any feedback</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body homepage-modal__body">
        <p class="homepage-modal__body-text">If you think about anything we will be really happy to hear your feedback. You can contact us via email or through Instagram:</p>
        <br>
        <div class="homepage-modal__reference">
          <i class="fas fa-at homepage-modal__reference-icon"></i>
          <p class="homepage-modal__reference-text">hello@infamousberlin.com</p>
        </div>
        <div class="homepage-modal__reference">
          <i class="fab fa-instagram homepage-modal__reference-icon"></i>
          <%= link_to "Instagram", "https://www.instagram.com/infamousberlin", target: "_blank", class: "homepage-modal__reference-link" %>
        </div>
        <div class="homepage-modal__reference">
          <i class="fas fa-code homepage-modal__reference-icon"></i>
          website built by <%= link_to "maricalmer", "https://www.maricalmer.com", target: "_blank", class: "homepage-modal__reference-link ms-1" %>
        </div>
        <br>
        <p class="homepage-modal__body-thanks">Thanks a lot for your time!</p>
        <div class="homepage-modal__background"></div>
      </div>
    </div>
  </div>
</div>
