<h1>Search results</h1>

<ul class="list-inline tabs-underlined mb-5">
  <li>
    <%= link_to "Users", "#", class: "tab-underlined active", remote: true %>
  </li>
  <li>
    <%= link_to "Projects", "#", class: "tab-underlined", remote: true %>
  </li>
</ul>

<div id="search-results">
  <%= render "user-results" %>
</div>

<script>
  var tabs = document.querySelectorAll(".tab-underlined")
  var results = document.getElementById("search-results");

  function fetchResults(event) {
    if (event.target.innerText == "Users") {
      results.innerHTML = "<%= j (render 'user-results') %>";
    } else {
      results.innerHTML = "<%= j (render 'project-results') %>";
    };
  };

  tabs.forEach((tab) => {
    tab.addEventListener("click", fetchResults);
  })
</script>
