<%= simple_form_for @project, remote: true, html: { class: "new-project-form-js"} do |f| %>
  <div class="new-project-form-title-field">
    <%= f.input :title, label: 'Project title:', input_html: { autocomplete: "off" } %>
  </div>
  <div class="new-project-form-description-field">
    <%= f.input :description, label: 'Describe your project:' %>
  </div>
  <div class="form-project-details">
    <div class="form-project-subdetails">
      <div class="search-data-js form-group string optional project_location" data-set="<%= @location_autocomplete_set.to_json %>">
        <label class="string optional" for="project_location">Where is your project taking place?</label>
        <div>
          <!-- ^^ dependency on autocomplete.js -->
          <input type="text" name="project[location]" id="project_location" class="input-location-project-new form-control string optional" >
        </div>
      </div>
      <%= f.input :date, as: :string, label: 'When?', input_html: { class: "datepicker datepicker-js" } %>
      <%= f.input :status, label: 'Project status:', as: :select, collection: @project.class.statuses.keys, include_blank: false %>
    </div>
    <%= f.input :category, wrapper_html: { class: "category-hidden-field" }, input_html: { class: "attributes_hidden_field_js" } %>
    <div class="new-category-custom">
      <div class="new-category-input-block search-data-js" data-set="<%= @category_autocomplete_set.to_json %>">
        <label for="fname" class="new-category-label">Add a project category:</label>
        <div class="d-flex">
          <input type="text" id="fname" class="attribute-value-js input-add-category input-category-project-new search-input-js"></input>
          <div class="btn-add-attribute-js btn-add-category">Add</div>
        </div>
      </div>
      <div>
        <label>Category list:</label>
        <ol class="attributes-list-js list-categories">
        </ol>
      </div>
    </div>
  </div>
  <div class="loaded-picture-preview-photos placeholder-preview-js">
    <% if @project.attachments.attached? %>
        <% @project.attachments.each do |attachment| %>
          <div class="project-photo-preview-card">
            <% if attachment.blob.content_type == "video/mp4" %>
              <%= cl_video_tag attachment.key, controls: true, muted: true, class: "project-photo-preview" %>
            <% else %>
              <%= cl_image_tag attachment.key, class: "project-photo-preview" %>
            <% end %>
            <div class="wrapper-preview-delete delete-signed-id-js">
              <div class="project-photo-preview-delete">&#x2716;</div>
            </div>
            <%= f.hidden_field :attachments, multiple: true, value: attachment.signed_id, id: "project-photo-signed-id" %>
          </div>
        <% end %>
    <% end %>
  </div>
  <label for="project_attachments" class="project-new-photo-btn">
    <i class="fas fa-paperclip me-2 pt-1"></i>
    <a class="link">select attachment(s)</a>
  </label>
  <%= f.input :attachments, as: :file, label: false, :input_html => { :multiple => true, accept: ".png, .jpg, .jpeg, .mp4, .mp3", class: "form-project-upload-photos-hidden project-attachments-upload-btn-js" } %>

  <%= f.submit "Save!", id: "btn-form-submit", class: "form-btn-js" %>
  <button class="more-btn jobs-more-btn btn-hidden form-btn-js" type="button" disabled>
    <span class="spinner-border spinner-border" role="status" aria-hidden="true"></span>
    Loading...
  </button>
<% end %>
