<%= simple_form_for @project, remote: true, html: { class: "new-project-form-js"} do |f| %>
  <div class="new-project-form-title-field">
    <%= f.input :title, label: 'Project title:', error: 'Mandatory field', input_html: { autocomplete: "off" } %>
  </div>
  <div class="new-project-form-description-field">
    <%= f.input :description, label: 'Describe your project:', error: 'Mandatory field' %>
  </div>
  <div class="form-project-details">
    <div class="form-project-subdetails">
      <div class="search-data form-group string optional project_location" data-set="<%= @location_autocomplete_set.to_json %>">
        <label class="string optional" for="project_location">Where is your project taking place?</label>
        <input type="text" name="project[location]" id="project_location" class="input-location-project-new form-control string optional" >
      </div>
      <div>
        <%= f.input :date, as: :string, label: 'When?', input_html: { class: "datepicker" }, error: 'Mandatory field' %>
      </div>
    </div>
    <div class="form-project-subdetails">
      <div class="search-data form-group string optional project_category" data-set="<%= @category_autocomplete_set.to_json %>">
        <label class="string optional" for="project_category">Project category:</label>
        <input type="text" name="project[category]" id="project_category" class="input-category-project-new form-control string optional" >
      </div>
      <div>
        <%= f.input :status, label: 'Project status:', as: :select, collection: @project.class.statuses.keys, selected: "past", include_blank: false %>
      </div>
    </div>
  </div>




  <div class="upload-picture-form">
    <div class="upload-picture-left">
      <%= f.input :photos, label: 'Add 1 or more photos:', as: :file, input_html: { multiple: true } %>
    </div>
    <div class="upload-picture-right">
      <div class="diamond-wrapper-js diamond-wrapper-form diamond-wrapper-form-hidden">
        <div class="diamond-frame-form">
          <img class="placeholder-preview-js">
        </div>
      </div>
    </div>
  </div>



  <%= f.submit "Create!", id: "btn-form-submit", class: "form-btn-js" %>
  <button class="more-btn jobs-more-btn btn-hidden form-btn-js" type="button" disabled>
    <span class="spinner-border spinner-border" role="status" aria-hidden="true"></span>
    Loading...
  </button>
<% end %>
