<%= simple_form_for @project, remote: true, html: { class: "form-js"} do |f| %>
  <%= f.input :title, label: 'Project title:', wrapper_html: { class: "form-page__project-title" }, label_html: { class: 'form-page__label' }, input_html: { class: 'form-page__input form-page__input--project-title', autocomplete: "off" } %>
  <%= f.input :description, label: 'Describe your project:', wrapper_html: { class: "form-page__project-description" }, label_html: { class: 'form-page__label' }, input_html: { class: 'form-page__input form-page__input--big' } %>
  <div class="form-page__location-date-status-wrapper">
    <%= f.input :location, label: 'Location:', wrapper_html: { data: { set: @location_autocomplete_set.to_json }, class: "form-page__project-location search-data-js" }, label_html: { class: 'form-page__label' }, input_html: { class: 'form-page__input search-input-js' } %>
    <%= f.input :date, as: :string, label: 'When?', wrapper_html: { class: "form-page__date" }, label_html: { class: 'form-page__label' }, input_html: { class: "form-page__input datepicker datepicker-js" } %>
    <%= f.input :status, label: 'Project status:', as: :select, collection: @project.class.statuses.keys, include_blank: false, wrapper_html: { class: "form-page__status" }, label_html: { class: 'form-page__label' }, input_html: { class: "form-page__input" } %>
  </div>
  <%= f.input :category, wrapper_html: { class: "form-page__category-hidden-field" }, input_html: { class: "attributes_hidden_field_js" } %>
  <div class="form-page__categories-custom">
    <div class="form-page__add-categories search-data-js" data-set="<%= @category_autocomplete_set.to_json %>">
      <label for="fname" class="form-page__add-categories-label form-page__label">Add a project category:</label>
      <div class="form-page__add-categories-input-and-btn">
        <input type="text" id="fname" class="form-page__add-categories-input form-page__input search-input-js attribute-value-js"></input>
        <div class="form-page__add-categories-btn btn-add-attribute-js">Add</div>
      </div>
    </div>
    <div>
      <label class="form-page__categories-list-label form-page__label">Category list:</label>
      <ol class="form-page__categories-list-items attributes-list-js">
      </ol>
    </div>
  </div>
  <div class="form-page__preview-photos placeholder-preview-js">
    <% if @project.attachments.attached? %>
      <% @project.attachments.each do |attachment| %>
        <div class="form-page__preview-photo-wrapper">
          <% if attachment.blob.content_type == "image/jpeg" %>
            <%= cl_image_tag attachment.key, class: "form-page__preview-photo" %>
          <% elsif attachment.blob.content_type == "video/mp4" %>
            <%= cl_video_tag attachment.key, controls: true, muted: true, class: "form-page__preview-photo" %>
          <% else %>
            <%= cl_video_tag attachment.key, source_types: [:mp3], controls: true, poster: true, class: "form-page__preview-photo form-page__preview-photo--audio-poster" %>
          <% end %>
          <div class="form-page__preview-delete-wrapper delete-signed-id-js">
            <div class="form-page__preview-delete-btn">&#x2716;</div>
          </div>
          <%= f.hidden_field :attachments, multiple: true, value: attachment.signed_id, id: "project-photo-signed-id" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <label for="project_attachments" class="form-page__label form-page__label-new-project-attachment">
    <i class="form-page__icon-new-project-attachment fas fa-paperclip"></i>
    <a class="form-page__link-new-project-attachment">select attachment(s)</a>
  </label>
  <%= f.input :attachments, as: :file, label: false, :input_html => { :multiple => true, accept: ".png, .jpg, .jpeg, .mp4, .mp3", class: "form-page__new-project-attachment--hidden project-attachments-upload-btn-js" } %>

  <%= f.submit "Save!", class: "form-page__submit-btn form-btn-js" %>
  <button class="form-page__loading-btn form-page__loading-btn--hidden form-btn-js" type="button" disabled>
    <span class="spinner-border" role="status" aria-hidden="true"></span>
    Loading...
  </button>
<% end %>
