<%= simple_form_for @project, remote: true, html: { class: "new-project-form-js"} do |f| %>
  <div class="new-project-form-title-field">
    <%= f.input :title, label: 'Project title:', error: 'Mandatory field', input_html: { autocomplete: "off" } %>
  </div>
  <div class="new-project-form-description-field">
    <%= f.input :description, label: 'Describe your project:', error: 'Mandatory field' %>
  </div>
  <div class="form-project-details">
    <div class="form-project-subdetails">
      <div class="search-data form-group string optional project_location" data-set="<%= @location_autocomplete_set.to_json %>">
        <label class="string optional" for="project_location">Where is your project taking place?</label>
        <input type="text" name="project[location]" id="project_location" class="input-location-project-new form-control string optional" >
      </div>
      <div>
        <%= f.input :date, as: :string, label: 'When?', input_html: { class: "datepicker" }, error: 'Mandatory field' %>
      </div>
    </div>
    <div class="form-project-subdetails">
      <div class="search-data form-group string optional project_category" data-set="<%= @category_autocomplete_set.to_json %>">
        <label class="string optional" for="project_category">Project category:</label>
        <input type="text" name="project[category]" id="project_category" class="input-category-project-new form-control string optional" >
      </div>
      <div>
        <%= f.input :status, label: 'Project status:', as: :select, collection: @project.class.statuses.keys, include_blank: false %>
      </div>
    </div>
  </div>
  <div class="loaded-picture-preview-photos placeholder-preview-js">
    <% if @project.photos.attached? %>
        <% @project.photos.each do |photo| %>
          <div class="project-photo-preview-card">
            <%= cl_image_tag photo.key, class: "project-photo-preview" %>
            <div class="wrapper-preview-delete delete-signed-id-js">
              <div class="project-photo-preview-delete">&#x2716;</div>
            </div>
            <%= f.hidden_field :photos, multiple: true, value: photo.signed_id, id: "project-photo-signed-id" %>
          </div>
        <% end %>
    <% end %>
  </div>
  <label for="project_photos" class="project-new-photo-btn">
    <div class="form-plus-symbol">+</div>
    <h3>add picture(s)</h3>
  </label>
  <%= f.input :photos, as: :file, label: false, :input_html => { :multiple => true, class: "form-project-upload-photos-hidden" } %>

  <%= f.submit "Save!", id: "btn-form-submit", class: "form-btn-js" %>
  <button class="more-btn jobs-more-btn btn-hidden form-btn-js" type="button" disabled>
    <span class="spinner-border spinner-border" role="status" aria-hidden="true"></span>
    Loading...
  </button>
<% end %>
