<div class="search-results-js">
  <% if query.blank? %>
    <h4 class="placeholder-numbers-results"></h4>
  <% else %>
    <h4 class="numbers-results"><%= projects.count %> <%= "project".pluralize(projects.count)%> matching your search for "<%= query %>" in <%= status %> projects</h4>
  <% end %>
  <div class="project-results-grid">
    <% @projects.each do |project| %>
      <div class="project-card__wrapper project-card__wrapper--safari_only remove-bottom-margin-js">
        <div class="project-card__item">
          <%= link_to project_path(project.slug), class: "project-card__link" do  %>
            <div class="project-card__title-and-ribbon">
              <h4 class="project-card__title highlight-query-js">
                <%= project.title %>
              </h4>
              <% if project.upcoming? %>
                <div class="project-card__ribbon">UPCOMING</div>
              <% end %>
            </div>
            <div class="project-card__img-and-avatar">
              <div class="project-card__img-wrapper">
                <% if project.attachments.first.image? %>
                  <%= cl_image_tag project.attachments.first.key, class: "project-card__img", quality: "auto:low", transformation: [{fetch_format: "auto"}, {width: 400, crop: "fill"}] %>
                <% elsif project.attachments.first.audio? %>
                  <%= image_tag asset_path('logo-audio.png'), class: "project-card__img", transformation: [{fetch_format: "auto"}, {width: 400, crop: "fill"}] %>
                <% else %>
                  <%= cl_video_tag project.attachments.first.key, class: "project-card__img" %>
                <% end %>
              </div>
              <div class="project-card__avatar">
                <%= cl_image_tag project.user.photo.key, quality: "auto:low", transformation: [{fetch_format: "auto"}, {width: 100, crop: "fill"}], class: "project-card__avatar-img" %>
              </div>
            </div>
            <div class="project-card__description highlight-query-js"><%= project.description %></div>
          <% end %>
          <div class="project-card__shadow"></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
