<!-- masonry js library -->
<div id="search-results" class="search-results-js">
  <% if query.blank? %>
    <h4 class="placeholder-numbers-results"></h4>
  <% else %>
    <h4 class="numbers-results"><%= projects.count %> current upcoming <%= "project".pluralize(projects.count)%> matching your search for "<%= query %>"</h4>
  <% end %>
  <div class="search-refresh-results upcoming-projects-style-js masonry-grid grid-search masonry-grid-js">
    <% @projects.each do |project| %>
      <div class="masonry-item card-project-search grid-search-item masonry-item-js">
        <%= link_to project_path(project.slug), class: "link" do  %>
          <h4 class="title-card-project-search highlight-query-js"><%= project.title %></h4>
          <div class="img-avatar-wrapper">
            <div class="search-card-img-wrapper">
              <% if project.attachments.first.image? %>
                <%= cl_image_tag project.attachments.first.key, class: "card-img masonry-pic-js", quality: "auto:low", transformation: [{fetch_format: "auto"}, {width: 400, crop: "fill"}] %>
              <% elsif project.attachments.first.audio? %>
                <%= cl_image_tag "logo-audio", class: "card-img masonry-pic-js", transformation: [{fetch_format: "auto"}, {width: 400, crop: "fill"}] %>
              <% else %>
                <%= cl_video_tag project.attachments.first.key, class: "card-img masonry-pic-js" %>
              <% end %>
            </div>
            <div class="avatar-card">
              <%= cl_image_tag project.user.photo.key, quality: "auto:low", transformation: [{fetch_format: "auto"}, {width: 100, crop: "fill"}] %>
            </div>
          </div>
          <div class="text-card-project-search highlight-query-js"><%= project.description %></div>
          <% if project.upcoming? %>
            <div class="ribbon">UPCOMING</div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
