<div class="grid-search search-refresh-results">
  <% @projects.each do |project| %>
    <div class="grid-search-item card-project-search">
      <%= link_to project_path(project.slug) do  %>
        <h4 class="title-card-project-search"><%= project.title %></h4>
        <div class="img-avatar-wrapper">
          <div class="search-card-img-wrapper">
            <%= cl_image_tag project.photos.first.key, class: "card-img" %>
          </div>
          <div class="avatar-card">
            <%= cl_image_tag project.user.photo.key %>
          </div>
        </div>
        <div class="text-card-project-search"><%= project.description %></div>
      <% end %>
      <div class="ribbon-wrapper">
        <div class="ribbon">UPCOMING</div>
      </div>
    </div>
  <% end %>
</div>
