<div class="grid-search search-refresh-results upcoming-projects-style-js">
  <% @projects.each do |project| %>
    <div class="grid-search-item card-project-search">
      <%= link_to project_path(project.slug) do  %>
        <h4 class="title-card-project-search"><%= project.title %></h4>
      <% end %>
      <div class="img-avatar-wrapper">
        <div class="search-card-img-wrapper">
          <% if project.attachments.first.image? %>
            <%= cl_image_tag project.attachments.first.key, class: "card-img card-img-js" %>
          <% else %>
            <%= cl_video_tag project.attachments.first.key, class: "card-img" %>
          <% end %>
        </div>
        <div class="avatar-card">
          <%= cl_image_tag project.user.photo.key %>
        </div>
      </div>
      <div class="text-card-project-search"><%= project.description %></div>
        <%= link_to project_path(project.slug) do  %>
          <div class="ribbon">UPCOMING</div>
        <% end %>
    </div>
  <% end %>
</div>
