<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<!-- is the head turbolinks needed? -->
<!-- https://github.com/turbolinks/turbolinks/issues/418#issuecomment-424995556 -->
<%= render 'shared/hamburger' %>
<div class="top-block-project">
  <%= render 'shared/carousel' %>
  <div class="side-text">
    <div class="side-text-title">
      <div class="project-title"><%= @project.title %></div>
      <h3 class="project-title-owner">by <%= link_to @project.user.username, user_path(@project.user), class:"project-user" %></h3>
    </div>
    <div class="side-text-members">
      <% if @members.any? %>
        <div class="members-block">
          <div class="project-side-details mb-4"><%= 'Member'.pluralize(@members.count) %>:</div>
          <div class="members-block-avatars">
            <% @members.first(5).each do |member| %>
              <div class="diamond-frame-member" data-bs-toggle="modal" data-bs-target="#membersList">
                <% if member.photo.attached? %>
                  <%= cl_image_tag member.photo.key, quality: "auto:low", transformation: [{fetch_format: "auto"}, {width: 70, crop: "fill"}] %>
                <% else %>
                  <%= image_tag "logo.png" %>
                <% end %>
              </div>
            <% end %>
            <% if @members.size > 5 %>
              <div class="diamond-frame-member" data-bs-toggle="modal" data-bs-target="#membersList">
                <p class="">...</p>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="members-block-placeholder"></div>
      <% end %>
      <div>
      <% if @project.user == current_user %>
        <div class="new-member-button-form">
          <button class="btn btn-covering btn-covering-js">Add member</button>
          <%= simple_form_for [ @project, @collab ] do |f| %>
            <div class="project-show-js search-data-js new-member-form new-member-form-js" data-set="<%= @autocomplete_set.to_json %>">
              <div class="new-member-form-btn">
                <div class="new-member-field">
                  <label class="string optional" for="project_member">Add member's username</label>
                  <input type="text" name="project[member]" id="project_member" class="input-member-project-new form-control string optional" autocomplete="off">
                </div>
                <%= f.submit "+", class: "new-member-field-plus" %>
              </div>
            </div>
            <% if @collab.errors.any? %>
              <% @collab.errors.full_messages.each do |message| %>
                <p class="error-red"><%= message %></p>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
    <div>
      <div class="d-flex">
        <% if @project.user == current_user %>
          <%= link_to new_project_job_path(@project), class:"link-btn-job m-0" do %>
            <button class="btn-job">Add job</button>
          <% end %>
          <!-- <div class="btn-job-placeholder"></div> -->
          <% if @jobs.any? %>
            <button class="btn-talents-eye" data-bs-toggle="modal" data-bs-target="#jobsList">
              <i class="fas fa-eye"></i>
            </button>
          <% end %>
        <% elsif @jobs.any? %>
            <button class="btn-talents" data-bs-toggle="modal" data-bs-target="#jobsList">Looking for talents!</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="description-bottom">
  <div class="description-right-side">
    <!-- <div class="d-flex"> -->
      <div class="project-location">
        <% if @project.location? %>
          <i class="fas fa-map-marker-alt"></i>
          <div class="description-right-details"><%= @project.location %></div>
        <% end %>
      </div>
      <div class="project-date">
        <% if @project.date? %>
          <i class="fas fa-calendar-day"></i>
          <div class="description-right-details"><%= @project.date.strftime("%d/%m/%Y") %></div>
        <% end %>
      </div>
    <!-- </div> -->
    <div class="project-category">
      <% if @project.category? %>
      <i class="fas fa-folder-open"></i>
        <% @project.render_categories.each do |cat| %>
          <div class="skill-box-project"><%= cat %></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="description-left-side">
    <div class="description-left-side-title" id="bottom-page">Description</div>
    <h4><%= simple_format @project.description %></h4>
  </div>
</div>
<div class="arrow-bottom-page-wrapper">
  <a href="#bottom-page">
    <div class="arrow-bottom-page">
      <ul>
        <li></li>
        <li></li>
      </ul>
    </div>
  </a>
</div>
<div class="modal fade" id="membersList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content members-modal">
      <div class="modal-header members-modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Group members</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-owner-line">
        <div class="modal-owner-title">
          <div class="modal-owner-project-owner">Project owner:</div>
          <div class="underlined-title"></div>
        </div>
        <div class="modal-owner-subdetails">
          <div class="diamond-frame-member-modal">
            <%= link_to user_path(@project.user) do %>
              <% if @project.user.photo.attached? %>
                <%= cl_image_tag @project.user.photo.key, quality: "auto:low", transformation: [{fetch_format: "auto"}, {width: 100, crop: "fill"}] %>
              <% else %>
                <%= image_tag "logo.png" %>
              <% end %>
            <% end %>
          </div>
          <%= link_to @project.user.username, user_path(@project.user), class:"member-modal-username" %>
        </div>
      </div>
      <div class="modal-body">
        <div class="modal-members-title">
          <div class="modal-members-title-wrapper">
            <div class="modal-members">Additional <%= 'member'.pluralize(@members.count) %>:</div>
            <div class="underlined-title"></div>
          </div>
        </div>
        <% @members.each do |member| %>
          <div class="modal-member-line">
            <div class="diamond-frame-member-modal">
              <%= link_to user_path(member.slug) do %>
                <% if member.photo.attached? %>
                  <%= cl_image_tag member.photo.key, quality: "auto:low", transformation: [{fetch_format: "auto"}, {width: 100, crop: "fill"}] %>
                <% else %>
                  <%= image_tag "logo.png" %>
                <% end %>
              <% end %>
            </div>
            <%= link_to member.username, user_path(member.slug), class:"member-modal-username" %>
            <% collab = member.collabs.find_by(project_id: @project.id) %>
            <% if @project.user == current_user %>
              <%= link_to collab_path(collab), class:"member-modal-delete-symbol", method: :delete do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="jobsList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content members-modal">
      <div class="modal-header members-modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Open jobs</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modal-job-records mt-3">
        <% @jobs.each do |job| %>
          <%= link_to job_path(job), class: "modal-job-link" do %>
            <div class="modal-job-record">
              <h4 class="modal-job-title"><%= job.title.downcase %> job in <%= job.location %></h4>
              <div class="modal-job-right-wrapper">
                <p class="modal-job-days">(published <%= time_ago_in_words(job.created_at) %> ago)</p>
                <div class="modal-job-arrow-wrapper">
                  <i class="fas fa-arrow-right"></i>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if !user_signed_in? %>
  <%= render 'shared/login_form' %>
<% end %>

