<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<!-- is the head turbolinks needed? -->


<h1>Project show page</h1>
<% @project.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<h2>(<%= @project.id %>) <%= @project.title %></h2>
<% if @jobs.any? %>
  <div class="d-flex align-items-center">
    <% @jobs.each do |job| %>
      <h3>We need a <%= job.title %>!</h3>
    <% end %>
    <div>
      <%= render "inquiry", jobs: @jobs %>
    </div>
  </div>
<% end %>
<p><strong>Desctiption:</strong> <%= @project.description %></p>
<p><strong>Location:</strong> <%= @project.location %></p>
<p><strong>Category:</strong> <%= @project.category.first %></p>
<% if @project.past? %>
  <p><strong>Date: </strong><%= @project.date.strftime("%d/%m/%Y") %></p>
<% else %>
  <p><strong>Deadline: </strong><%= @project.date.strftime("on %d/%m/%Y") %></p>
<% end %>
<% if @member %>
  <p><strong>Member: </strong>
    <%= link_to @member.username, user_path(member.slug) %>
  </p>
<% end %>
