<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<!-- is the head turbolinks needed? -->
<%= render 'shared/hamburger' %>
<%= render 'shared/brand' %>
<div class="top-block-project">
  <%= render 'shared/carousel' %>
  <!-- <div class="vertical-dashed-line"></div> -->
  <div class="side-text">
    <h1><%= @project.title %></h1>
    <div class="categories d-flex ms-2">
      <% @project.category.each do |cat| %>
        <h5 class="skill-box my-3"><%= cat %></h5>
      <% end %>
    </div>
    <div class="d-flex">
      <% if @project.date? %>
        <h4><%= @project.date.strftime("%d/%m/%Y") %></h4>
      <% end %>
      <% if @project.location? %>
        <h4 class="ms-3">-</h4>
        <h4 class="ms-3"><%= @project.location %></h4>
      <% end %>
    </div>
    <% if @members.any? %>
      <div class="members-block">
        <div>
          <h4 class="mb-4">Project <%= 'member'.pluralize(@members.count) %>:</h4>
        </div>
        <div class="members-block-avatars">
          <% @members.first(5).each do |member| %>
            <div class="diamond-frame-member" data-bs-toggle="modal" data-bs-target="#membersList">
              <% if member.photo.attached? %>
                <%= cl_image_tag member.photo.key %>
              <% else %>
                <%= image_tag "logo.png" %>
              <% end %>
            </div>
          <% end %>
          <% if @members.size > 5 %>
            <div class="diamond-frame-member" data-bs-toggle="modal" data-bs-target="#membersList">
              <p class="">...</p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @project.user == current_user %>
      <div class="new-member-button-form">
        <button class="btn-covering btn-covering-js">Add member</button>
        <%= simple_form_for [ @project, @collab ] do |f| %>
          <div class="project-show-js search-data new-member-form new-member-form-js" data-set="<%= @autocomplete_set.to_json %>">
            <div class="d-flex">
              <div class="new-member-field">
                <label class="string optional" for="project_member">Add member's username</label>
                <input type="text" name="project[member]" id="project_member" class="input-member-project-new form-control string optional" autocomplete="off">
              </div>
              <%= f.submit "+", class: "btn btn-primary btn-add-member" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @jobs.any? %>
      <button class="btn-talents w-100" data-bs-toggle="modal" data-bs-target="#jobsList">Looking for talents!</button>
    <% end %>
  </div>
</div>
<div class="description-bottom">
  <h1>Description</h1>
  <h4><%= simple_format @project.description %></h4>
</div>
<div class="modal fade" id="membersList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content members-modal">
      <div class="modal-header members-modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Project members</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-0">
        <% @members.each do |member| %>
          <div class="modal-member-line">
            <%= link_to user_path(member.slug) do %>
              <div class="diamond-frame-member-modal">
                <% if member.photo.attached? %>
                  <%= cl_image_tag member.photo.key %>
                <% else %>
                  <%= image_tag "logo.png" %>
                <% end %>
              </div>
            <% end %>
            <%= link_to member.username, user_path(member.slug), class:"member-modal-username" %>
            <% collab = member.collabs.find_by(project_id: @project.id) %>
            <% if @project.user == current_user %>
              <%= link_to collab_path(collab), class:"member-modal-delete-symbol", method: :delete do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="jobsList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content members-modal">
      <div class="modal-header members-modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Open jobs</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modal-job-records mt-3">
        <% @jobs.each do |job| %>
          <%= link_to job_path(job), class: "modal-job-link" do %>
            <div class="modal-job-record">
              <h4 class="modal-job-title"><%= job.title.downcase %> job in <%= job.location %></h4>
              <div class="modal-job-right-wrapper">
                <p class="m-0">(published <%= time_ago_in_words(job.created_at) %> ago)</p>
                <div class="modal-job-manicule-wrapper">
                  <div class="modal-job-manicule">&#x261E;</div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>












<% if !user_signed_in? %>
  <%= render 'shared/login_form' %>
<% end %>
