<div class="devise-form-container">
  <div class="devise-form">
    <h1 class="brand-devise-form">
      <%= link_to "InfamousBerlin", root_path %>
    </h1>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "off", class: "input-form-login" }%>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "off", class: "input-form-login" } %>
        <%= f.input :remember_me, input_html: { class: "check-form-login" }, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", :class => "btn-message" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
  <div class="right-side-signup">
    <div class="devise-form-video-text">Find the right people for your <span>art project</span>.</div>
    <div class="video-gradient girls_smile-gradient"></div>
    <%= video_tag "rapper", autoplay: :autoplay, loop: :loop, muted: :muted, class: "video-girls" %>
  </div>
</div>
