<div class="dashboard__cards slider-js">
  <h4 class="dashboard__mobile-title">Collabs</h4>
  <% @collabs.each do |collab| %>
    <div class="dashboard-slider-card">
      <%= link_to project_path(collab.slug), class: "dashboard-slider-card__link" do  %>
        <h4 class="dashboard-slider-card__title">
          <%= collab.title %>
          <% if collab.upcoming? %>
            <div class="dashboard-slider-card__ribbon">UPCOMING</div>
          <% end %>
        </h4>
        <div class="dashboard-slider-card__img-wrapper">
          <% if collab.attachments.first.image? %>
            <%= cl_image_tag collab.attachments.first.key, class: "dashboard-slider-card__img", quality: "auto:low", alt: "project picture", transformation: [{fetch_format: "auto"}, {width: 400, crop: "fill"}] %>
          <% elsif collab.attachments.first.audio? %>
            <%= image_tag asset_path('logo-audio.png'), class: "dashboard-slider-card__img", alt: "play audio button" %>
          <% else %>
            <%= cl_video_tag collab.attachments.first.key, class: "dashboard-slider-card__img" %>
          <% end %>
        </div>
        <div class="dashboard-slider-card__text"><%= collab.description %></div>
      <% end %>
      <div class="dashboard-slider-card__btns">
        <div class="dashboard-slider-card__btn--delete dashboard-slider-card__btn--single">
          <%= link_to collab_path(collab.id), method: :delete, data: { confirm: "Are you sure?" }, class: "dashboard-slider-card__btn-link" do %>
            <h5 class="dashboard-slider-card__btn-text">Quit collab</h5>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
