<div class="dashboard__cards slider-js">
  <h4 class="dashboard__mobile-title">Jobs</h4>
  <% @jobs.each do |job| %>
    <div class="dashboard-slider-job-card">
      <%= link_to job_path(job), class: "dashboard-slider-card__link" do  %>
        <div class="dashboard-slider-job-card__title-wrapper">
          <h4 class="dashboard-slider-job-card__title"><%= job.title.upcase %></h4>
        </div>
        <div class="dashboard-slider-job-card__body">
          <div>
            <% if job.payment == "hourly_rate" %>
              <h5 class="dashboard-slider-job-card__money"><%= job.money %>€/hour</h5>
            <% else %>
              <h5 class="dashboard-slider-job-card__money"><%= job.money %>€</h5>
            <% end %>
          </div>
          <div>
            <p class="dashboard-slider-job-card__money"><%= job.created_at.strftime("posted on %d/%m/%Y") %></p>
          </div>
          <p class="dashboard-slider-job-card__description"><%= job.description %></p>
        </div>
      <% end %>
      <div class="dashboard-slider-card__btns">
        <div class="dashboard-slider-card__btn--edit">
          <%= link_to edit_job_path(job), class: "dashboard-slider-card__btn-link" do %>
            <h5 class="dashboard-slider-card__btn-text">Edit</h5>
          <% end %>
        </div>
        <div class="dashboard-slider-card__btn--delete">
          <%= link_to job_path(job), method: :delete, data: { confirm: "Are you sure?" }, class: "dashboard-slider-card__btn-link" do %>
            <h5 class="dashboard-slider-card__btn-text">Delete</h5>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
