<div class="dashboard__cards slider-js">
  <h4 class="dashboard__mobile-title">Projects</h4>
  <% @projects.includes([:attachments_attachments]).each do |project| %>
    <div class="dashboard-slider-card">
      <%= link_to project_path(project.slug), class: "dashboard-slider-card__link" do  %>
        <h4 class="dashboard-slider-card__title">
          <%= project.title %>
          <% if project.upcoming? %>
            <div class="dashboard-slider-card__ribbon">UPCOMING</div>
          <% end %>
        </h4>
        <div class="dashboard-slider-card__img-wrapper">
          <% if project.attachments.first.image? %>
            <%= cl_image_tag project.attachments.first.key, cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "dashboard-slider-card__img", quality: "auto:low", height: 155, alt: "project picture", transformation: [{fetch_format: "auto"}, {width: 400, crop: "fill"}] %>
          <% elsif project.attachments.first.audio? %>
            <%= image_tag asset_path('logo-audio.png'), class: "dashboard-slider-card__img", alt: "play audio button" %>
          <% else %>
            <%= cl_video_tag project.attachments.first.key, class: "dashboard-slider-card__img" %>
          <% end %>
        </div>
        <div class="dashboard-slider-card__text"><%= project.description %></div>
      <% end %>
      <div class="dashboard-slider-card__btns">
        <div class="dashboard-slider-card__btn--edit">
          <%= link_to edit_project_path(project.slug), class: "dashboard-slider-card__btn-link" do %>
            <h5 class="dashboard-slider-card__btn-text">Edit</h5>
          <% end %>
        </div>
        <div class="dashboard-slider-card__btn--delete">
          <%= link_to project_path(project), method: :delete, data: { confirm: "Are you sure?" }, class: "dashboard-slider-card__btn-link" do %>
            <h5 class="dashboard-slider-card__btn-text">Delete</h5>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
