<div class="js-slider inquiry-dash-js w-100 dash-received-list">
  <h4 class="dash-slider-title-mobile">Applications</h4>
  <% @inquiries.each do |inquiry| %>
    <div class="dash-received-record">
      <h4 class="record-date"><%= inquiry.created_at.strftime("%d/%m") %></h4>
      <h4 class="dash-received-record-title">
        Application to project
        <span><%= link_to inquiry.job.project.title, project_path(inquiry.job.project.slug) %></span>
        owned by user <span><%= link_to inquiry.job.project.user.username, user_path(inquiry.job.project.user.slug) %></span>
      </h4>
      <% if inquiry.on_hold? %>
        <div class="dash-sent-icons">
          <%= link_to inquiry_path(inquiry), class:"dash-inquiries-links dash-arrow-link" do %>
            <i class="fas fa-arrow-right"></i>
          <% end %>
          <%= link_to edit_inquiry_path(inquiry), class:"dash-inquiries-links dash-edit-link" do %>
            <i class="fas fa-pencil-alt"></i>
          <% end %>
          <%= link_to inquiry_path(inquiry), class:"dash-inquiries-links dash-destroy-link", method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      <% else %>
        <%= link_to inquiry_path(inquiry), class:"dash-arrow-link dash-inquiries-links" do %>
          <i class="fas fa-arrow-right"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
