<%= render 'shared/hamburger' %>
<div class="dashboard__container">
  <h1 class="dashboard__underlined-title">
    Dashboard
    <div class="dashboard__underline"></div>
  </h1>
  <div class="dashboard__content">
    <div class="dashboard__avatar_and_username">
      <div class="avatar-dashboard">
        <div class="avatar-dashboard__wrapper">
          <h3 class="avatar-dashboard__username"><%= current_user.username %></h3>
          <div class="avatar-dashboard__frame">
            <% if !current_user.default_profile_pic? %>
              <%= link_to user_path(current_user.slug), class: "avatar-dashboard__img-link" do %>
                <%= cl_image_tag current_user.photo.key, quality: "auto:low", transformation: [{fetch_format: "auto"}, {width: 300, crop: "fill"}], class: "avatar-dashboard__img" %>
              <% end %>
            <% else %>
              <%= link_to edit_user_path(current_user.slug, anchor: "picture-anchor"), class: "avatar-dashboard__img-link" do %>
                <div class="avatar-dashboard__img-reminder-text">Upload a picture!</div>
                <div class="avatar-dashboard__img-reminder"></div>
                <%= cl_image_tag current_user.photo.key, quality: "auto:low", transformation: [{fetch_format: "auto"}, {width: 300, crop: "fill"}], class: "avatar-dashboard__img" %>
              <% end %>
            <% end %>
          </div>
          <h5 class="avatar-dashboard__user-title"><%= current_user.title %></h5>
        </div>
      <div>
    </div>
  </div>
  <div class="dashboard__line-separator"></div>
  <div class="dashboard__upper-links">
    <%= link_to user_path(current_user.slug), class: "dashboard__upper-link" do %>
      <h3 class="dashboard__upper-link-text">
        Visit your profile
        <div class="dashboard__upper-link-underline dashboard__upper-link-underline--green"></div>
      </h3>
    <% end %>
    <br>
    <%= link_to edit_user_path(current_user.slug), class: "dashboard__upper-link" do %>
      <h3 class="dashboard__upper-link-text dashboard__upper-link-text--edit">
        Edit your profile
        <div class="dashboard__upper-link-underline dashboard__upper-link-underline--gray"></div>
        <% if current_user.bio.blank? %>
          <div class="dashboard__upper-link-uncomplete-badge"></div>
          <div class="dashboard__upper-link-uncomplete-message">Fill up your profile to get better exposure through searches!</div>
          <div class="dashboard__upper-link-uncomplete-placeholder"></div>
        <% end %>
      </h3>
    <% end %>
    <br>
    <% if policy(Project).create? %>
      <%= link_to new_project_path, class: "dashboard__upper-link" do %>
        <h3 class="dashboard__upper-link-text">
          Add a new project
          <div class="dashboard__upper-link-underline dashboard__upper-link-underline--green"></div>
        </h3>
      <% end %>
    <% end %>
  </div>
</div>
<div class="dashboard__line-separator"></div>
<div class="dashboard__menus-wrapper">
  <input type="checkbox" id="checkbox_toggle">
  <label class="dashboard__mobile-menu-arrow" for="checkbox_toggle"></label>
  <div class="dashboard__mobile-menu-more mobile-dropdown-arrow-js"></div>
  <ul class="dashboard__menus">
    <% if @project_ids.any? %>
      <li class="dashboard__menu">
        <div class="dashboard__menu-title" >Projects</div>
        <div class="dashboard__menu-links">
          <% if @upcoming_project.present? %>
            <%= link_to "Upcoming", upcoming_projects_dash_path, class: "dashboard__menu-link dropdown-links-js", remote: true %>
          <% end %>
          <% if @past_project.present? %>
            <%= link_to "Past", past_projects_dash_path, class: "dashboard__menu-link dropdown-links-js", remote: true %>
          <% end %>
        </div>
      </li>
    <% end %>
    <% if @job_ids.any? %>
      <li class="dashboard__menu dashboard__menu--jobs">
        <div class="dashboard__menu-title" >Jobs</div>
        <div class="dashboard__menu-links">
          <% if @open_jobs.present? %>
            <%= link_to "Open", open_jobs_dash_path, class: "dashboard__menu-link dropdown-links-js", remote: true %>
          <% end %>
          <% if @close_jobs.present? %>
            <%= link_to "Close", close_jobs_dash_path, class: "dashboard__menu-link dropdown-links-js", remote: true %>
          <% end %>
        </div>
      </li>
    <% end %>
    <% if @received_inquiry_ids.any? %>
      <li class="dashboard__menu">
        <div class="dashboard__menu-title" id="test-id-inquiries-menu" >Applications received</div>
        <div class="dashboard__menu-links">
          <% if @hold_received_applications.present? %>
            <%= link_to "On hold", hold_received_dash_path, class: "dashboard__menu-link dropdown-links-js", id:"test-id-on-hold-inquiries-menu", remote: true %>
          <% end %>
          <% if @accepted_received_applications.present? %>
            <%= link_to "Accepted", accepted_received_dash_path, class: "dashboard__menu-link dropdown-links-js", remote: true %>
          <% end %>
          <% if @rejected_received_applications.present? %>
            <%= link_to "Rejected", rejected_received_dash_path, class: "dashboard__menu-link dropdown-links-js", remote: true %>
          <% end %>
        </div>
      </li>
    <% end %>
    <% if @collab_ids.any? %>
      <li class="dashboard__menu">
        <div class="dashboard__menu-title" >Collabs</div>
        <div class="dashboard__menu-links">
          <% if @upcoming_project_collabs.present? %>
            <%= link_to "Upcoming", upcoming_collabs_dash_path, class: "dashboard__menu-link dropdown-links-js", remote: true %>
          <% end %>
          <% if @past_project_collabs.present? %>
            <%= link_to "Past", past_collabs_dash_path, class: "dashboard__menu-link dropdown-links-js", remote: true %>
          <% end %>
        </div>
      </li>
    <% end %>
    <% if @sent_inquiry_ids.any? %>
      <li class="dashboard__menu">
        <div class="dashboard__menu-title" >Applications sent</div>
        <div class="dashboard__menu-links">
          <% if @hold_sent_applications.present? %>
            <%= link_to "On hold", hold_sent_dash_path, class: "dashboard__menu-link dropdown-links-js", remote: true %>
          <% end %>
          <% if @accepted_sent_applications.present? %>
            <%= link_to "Accepted", accepted_sent_dash_path, class: "dashboard__menu-link dropdown-links-js", remote: true %>
          <% end %>
          <% if @rejected_sent_applications.present? %>
            <%= link_to "Rejected", rejected_sent_dash_path, class: "dashboard__menu-link dropdown-links-js", remote: true %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<% if @project_ids.any? %>
  <div class="dashboard__slider check-img-state-js">
    <div class="dashboard__chevron-wrapper"><h5 class="dashboard__chevron dashboard__chevron--left chevron--hidden past-chevron-left-js">&#x3c;</h5></div>
    <%= render "projects_dash" %>
    <div class="dashboard__chevron-wrapper"><h5 class="dashboard__chevron dashboard__chevron--right chevron--hidden past-chevron-right-js">&#x3e;</h5></div>
  </div>
<% elsif @collab_ids.any? %>
  <div class="dashboard__slider check-img-state-js">
    <div class="dashboard__chevron-wrapper dash-chevron"><h5 class="dashboard__chevron dashboard__chevron--left chevron--hidden past-chevron-left-js">&#x3c;</h5></div>
    <%= render "collabs_dash" %>
    <div class="dashboard__chevron-wrapper dash-chevron"><h5 class="dashboard__chevron dashboard__chevron--right chevron--hidden past-chevron-right-js">&#x3e;</h5></div>
  </div>
<% elsif @sent_inquiry_ids.any? %>
  <div class="dashboard__slider check-img-state-js">
    <div class="dashboard__chevron-wrapper dash-chevron"><h5 class="dashboard__chevron dashboard__chevron--left chevron--hidden past-chevron-left-js">&#x3c;</h5></div>
    <%= render "sent_dash" %>
    <div class="dashboard__chevron-wrapper dash-chevron"><h5 class="dashboard__chevron dashboard__chevron--right chevron--hidden past-chevron-right-js">&#x3e;</h5></div>
  </div>
<% else %>
  <div class="dashboard__no-activity-placeholder">
    <h5 class="dashboard__no-activity-text">No project nor collab in your portfolio yet...</h5>
    <i class="dashboard__no-activity-icon far fa-sad-cry"></i>
  </div>
<% end %>
<div class="dashboard__bottom-link-wrapper">
  <%= link_to user_path(current_user), method: :delete, data: { confirm: "Are you sure?" }, class: "dashboard__bottom-link" do %>
    <h3 class="dashboard__bottom-link-text">
      Delete your profile
      <div class="dashboard__bottom-link-underline"></div>
    </h3>
  <% end %>
</div>
