<div class="grid-stack-item grid-search-big-item mirror-js" gs-x="<%= mirror.grid_x %>" gs-y="<%= mirror.grid_y %>" gs-w="<%= mirror.grid_w %>" gs-h="<%= mirror.grid_h %>">
  <div class="grid-stack-item-content">
    <%= link_to project_path(mirror.project), class:"link" do %>
      <div class="gridstack-static-big-item">
        <h4 class="grid-search-big-item-title"><%= mirror.project.title %></h4>
        <div class="grid-search-big-item-img-wrapper">
          <picture>
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 1200px)">
            <% if mirror.project.attachments.first.image? %>
              <% if mirror.crop_x.present? %>
                <%= cl_image_tag mirror.project.attachments.first.key, class: "grid-search-big-item-img grid-search-big-item-img-no-sizing", height: mirror.crop_h, width: mirror.crop_w, x: mirror.crop_x, y: mirror.crop_y, crop: "crop" %>
              <% else %>
                <%= cl_image_tag mirror.project.attachments.first.key, class: "grid-search-big-item-img" %>
              <% end %>
            <% else %>
              <% if mirror.crop_x.present? %>
                <%= cl_video_tag mirror.project.attachments.first.key, class: "grid-search-big-item-img grid-search-big-item-img-no-sizing", poster: { transformation: [ { height: mirror.crop_h.to_i, width: mirror.crop_w.to_i, x: mirror.crop_x.to_i, y: mirror.crop_y.to_i, crop: "crop" } ] } %>
              <% else %>
                <%= cl_video_tag mirror.project.attachments.first.key, class: "grid-search-big-item-img" %>
              <% end %>
            <% end %>
          </picture>
          <!-- ^^ needs to synchronize with a method -->
        </div>
        <div class="portfolio-card-description"><%= mirror.project.description %></div>
        <!-- <div class="grid-search-big-item-img-panel"></div> -->
      </div>
    <% end %>
  </div>
</div>

