<div class="portfolio-mobile-mirror-card">
  <%= link_to project_path(mirror.project), class: "link" do %>
    <h4 class="portfolio-mobile-mirror-card-title"><%= mirror.project.title %></h4>
    <div class="portfolio-mobile-img-wrapper">
      <picture>
        <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(min-width: 1200px)">
        <% if mirror.displays_cropped_img? %>
          <%= cl_image_tag mirror.attachment_key, class: "grid-search-big-item-img-no-sizing", height: mirror.crop_h, width: mirror.crop_w, x: mirror.crop_x, y: mirror.crop_y, crop: "crop" %>
        <% elsif mirror.displays_original_img? %>
          <%= cl_image_tag mirror.attachment_key %>
        <% elsif mirror.displays_cropped_video_poster? %>
          <%= cl_video_tag mirror.attachment_key, class: "portfolio-video-source grid-search-big-item-img-no-sizing", poster: { transformation: [ { height: mirror.crop_h.to_i, width: mirror.crop_w.to_i, x: mirror.crop_x.to_i, y: mirror.crop_y.to_i, crop: "crop" } ] } %>
        <% elsif mirror.displays_original_video_poster? %>
          <%= cl_video_tag mirror.attachment_key, class: "portfolio-video-source" %>
        <% elsif mirror.displays_cropped_audio_poster? %>
          <%= image_tag asset_path('logo-audio.png'), class: "grid-search-big-item-img grid-search-big-item-img-no-sizing", height: mirror.crop_h, width: mirror.crop_w, x: mirror.crop_x, y: mirror.crop_y, crop: "crop" %>
        <% else %>
          <%= image_tag asset_path('logo-audio.png'), class: "grid-search-big-item-img" %>
        <% end %>
      </picture>
    </div>
    <div class="portfolio-mobile-mirror-card-description"><%= mirror.project.description %></div>
  <% end %>
</div>
