<%= render 'shared/hamburger' %>
<div class="form-page">
  <div class="form-page__form-and-title">
    <h1 class="form-page__title">
      Apply to job
      <div class="form-page__underline"></div>
    </h1>
    <div class="form-page__form">
      <div class="form-page__content">
        <div class="form-page__job-details-section">
          <div class="form-page__job-details-title">
            Job details:
            <div class="form-page__job-details-underline"></div>
          </div>
          <div class="form-page__job-details-job-title">
            <i class="form-page__job-quote--first fas fa-quote-left"></i>
            <h3 class="form-page__job-quote--text"><%= @job.title.upcase %></h3>
            <i class="form-page__job-quote--last fas fa-quote-right"></i>
          </div>
          <h4><%= @job.description %></h4>
          <ul class="form-page__job-skills">
            <h4 class="form-page__job-skills-label"><%= "Skill".pluralize(@job.display_skills.count) %> needed:</h4>
            <% @job.display_skills.each do |skill| %>
              <li><h5 class="form-page__job-skill-box"><%= skill.downcase %></h5></li>
            <% end %>
          </ul>
          <h4 class="form-page__job-link-wrapper"><span>----</span> <%= link_to "read more about the job offer", job_path(@job), class:"form-page__job-link" %></h4>
        </div>
        <div class="form-page__new-inquiry-section">
          <div class="form-page__new-inquiry-title">
            Your application:
            <div class="form-page__new-inquiry-underline"></div>
          </div>
          <%= simple_form_for [ @job, @inquiry ], remote: true, html: { multipart: true } do |f| %>
            <%= f.input :motivation, label: 'What motivates you to apply?', error: 'Mandatory field', label_html: { class: 'form-page__label' }, input_html: { class: "form-page__input" } %>
            <%= f.input :experience, label: 'Please detail your experience:', error: 'Mandatory field', label_html: { class: 'form-page__label' }, input_html: { class: "form-page__input" } %>
            <%= f.input :attached_file, label: 'Attachments:', as: :file, label_html: { class: 'form-page__label' } %>
            <%= f.submit "Submit application!", class: "form-page__submit-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-page__divider-and-img">
    <div class="form-page__divider--first"></div>
    <div class="form-page__divider--second"></div>
    <div class="form-page__img form-page__img--new-inquiry"></div>
  </div>
</div>

