<!DOCTYPE html>
<html lang="en">
  <head>
    <title>InfamousBerlin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HL8SP24H35"></script>
    <%= javascript_include_tag 'analytics', defer: true %>
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <div class="layout-container">
      <%= yield %>
    </div>
  </body>
</html>
