<!DOCTYPE html>
<html lang="en">
  <head>
    <title>InfamousBerlin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="title" content="InfamousBerlin">
    <meta name="description" content="Discover, collaborate and thrive in the local artist community. Browse project listings, jobs opportunities, cultural events and connect with fellow artists. Join now!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.infamousberlin.com/">
    <meta property="og:title" content="InfamousBerlin">
    <meta property="og:description" content="Collaboration platform for Berlin’s art scene. Check it out!">
    <meta property="og:image" content="https://res.cloudinary.com/dbpv82leg/image/upload/v1683641260/social-media-post.jpg">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <div class="layout-container">
      <%= yield %>
    </div>
  </body>
</html>
